#productList {
    width: 100%;
    height: 280px;
    overflow-y: scroll;
}

.product-card div {
    padding: 6px; 
}

.product-card p {
    margin: 0px;
    padding: 0px;
    font-size: 12px;
    max-height: 18px;
    overflow: hidden;
 }

 .product-card .btn-sm {
    padding: 0px 12px;
 }

.product-card {
    margin: 4px;
    float: left;
    width: 200px;
}

.product-card .card-title {
    height: 18px;
    overflow: hidden;
    font-size: 0.9em;
    margin: 0;
}
.card-img-top {
    max-height: 120px;
}

#favorite-products {
    padding: 5px 0;
    height: 120px;
    overflow-y: scroll;
}

.fav_card {
    width: 230px;
    height: 100px;
    overflow: hidden;
    float: left;
    border: solid 1px rgb(182, 182, 182);
    border-radius: 6px;
    padding: 4px;
    margin: 2px;
}

.fav_card p {
    margin: 0;
    font-size: 12px;
}
.fav_card img {
    max-width: 100px;
    height: 65px;
    float: right;
    border-radius: 4px;
}

.fav_card .btn-sm {
    padding: 0 12px;
    font-size: 10px;
}

.card-body .pin_btn {
    position: absolute;
    border: solid 1px rgb(193, 193, 193);
    border-bottom-right-radius: 6px;
    bottom: -1px;
    right: -1px;
    padding: 2px 6px;
    font-size: 1.2em;    
}

#SearchContainer {
    margin: 20px 0;
}
.search_form input {
    padding: 0 0 0 6px;
}
.search_form button {
    padding: 0px 12px;
    font-size: 12px;
}

.search_form {
    margin: 0px;
}

#SearchContainer .query-card {
    box-shadow: 1px 1px 6px rgb(210, 195, 182);
}

#chatBox {
    background-color: rgb(242, 244, 239);
    border-radius: 10px;
}
#chatBox div{
    margin: 4px 0;
}

#chatBox div p {
    margin: 0;
}


#chatBox .msg_sent .timestamp{ 
    margin: 0 6px 0 0;
    }
#chatBox .msg_received .timestamp{ 
        margin: 0 0 0 36px;
        }

#chatBox .msg_received span {
    margin: 0 6px;
    padding: 4px 16px;
    border-radius: 6px;
    border: solid 1px rgb(125, 177, 237);
    color: rgb(54, 139, 236);
}
#chatBox .msg_sent span {
    margin: 0 6px;
    padding: 4px 16px;
    border-radius: 6px;
    border: solid 1px rgb(93, 166, 93);
    color: rgb(26, 108, 59);
 }

#chatBox .msg_sent {
    position: relative;
    align-items: right;
    text-align: end;
    color: rgb(21, 21, 212);
}


.timestamp {
    font-size: 10px;
    font-style: italic;
    color: rgb(177, 177, 177);
    text-align: right;
}