:root {
    --title-color: rgb(76, 76, 76);
    --price-color: rgb(188, 53, 11);
}

#productList {
    width: 100%;
    height: 280px;
    overflow-y: scroll;
}

.product-card p {
    margin: 0px;
    padding: 0px;
    font-size: 12px;
    overflow: hidden;
 }
 .product-card .card-body  {
    padding: 6px 4px;
    min-height: 80px;
 }

 .product-card a{
    color: var(--title-color);
 }
 .product-card .btn-sm {
    padding: 0px 12px;
 }

.product-card {
    margin: 4px;
    float: left;
    width: 200px;
    height: 204px !important;
}

.product-card .card-title {
    display: inline-block;
    max-height: 36px;
    width: 100%;
    overflow: hidden;
    font-size: 0.9em;
    margin: 0;
}

.product-card .card-price {
    position: absolute;
    bottom: 8px;
    right: 30px;
    max-height: 36px;
    font-weight: 500;
    color: var(--price-color);
    line-height: 1;
    
}
.product-card .card-price small {
    color: rgb(35, 132, 38);
    font-style: italic;
    font-weight: normal;
}
.product-card .card-text {
    font-size: 0.9em;
    font-weight: 400;
}
.product-card .card-img-top {
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}
.product-card .card-img-top img{
    margin: 0px;
    width: 100%;
    height: auto;
}
#favorite-products {
    padding: 5px 0;
    height: 120px;
    overflow-y: scroll;
}
/* PROFILE PAGE */

.my_badge_unread {
    margin: 0 4px;
}
.fav_card {
    width: 230px;
    height: 100px;
    overflow: hidden;
    float: left;
    border: solid 1px rgb(182, 182, 182);
    border-radius: 6px;
    padding: 4px;
    margin: 2px;
}
.fav_card  a{
    text-decoration: none;
    color: var(--title-color);
}
.fav_card .card-title {
    font-size: 12px;
    max-height: 28px;
    overflow: hidden;
    font-weight: bold;
    text-decoration: none;
}
.fav_card .card-title span{
    font-size: 11px;
    font-weight: normal;
}
.fav_card .card-price {
    margin-top: 6px;
    display: inline-block;
    font-size: 12px;
    color: rgb(155, 17, 17);
    line-height: 1;
    font-weight: 500;
}
.fav_card .card-price small{
    color: green;
}
.fav_card img {
    max-width: 100px;
    max-height: 58px;
    border-radius: 4px;
    float: right;
}

.fav_card .btn-sm {
    margin-top: -10px;
    padding: 0 12px;
    font-size: 10px;
}

.card-body .pin_btn, .card-body .chat_btn {
    /* background-color: rgba(83, 81, 81, 0.3); */
    border: none;

}

.card-body .pin_btn {
    position: absolute;
    font-size: 1.1em;    
    bottom: 4px;
    left: 4px;
    padding: 1px 6px;
    font-size: 1.2em;
}
.card-body .chat_btn{
    padding: 2px 7px;
    font-size: 1.1em;    
    position: absolute;
    left: 38px;
    bottom: 4px;
}

.card-body .my_item_update_btn, .card-body .my_item_del_btn {
    padding: 0 4px;
}

.card-body .my_item_update_btn {
    position: absolute;
    bottom: 4px;
    left: 4px;
    width: 40px
}

.card-body .my_item_del_btn {
    position: absolute;
    left: 47px;
    bottom: 4px;
}

.product-card .is_active{
    position: absolute;
    top: 107px;
    right: 0px;
    padding: 0px 6px;
    border-top-left-radius: 6px;
    font-size: 10px;
    background: rgba(111, 83, 83, 0.5);
    background-color: white;
}

#SearchContainer {
    margin: 20px 0;
}
.search_form input {
    padding: 0 0 0 6px;
}
.search_form button {
    padding: 0px 12px;
    font-size: 12px;
}

.search_form {
    margin: 0px;
}

#SearchContainer .query-card {
    box-shadow: 1px 1px 6px rgb(210, 195, 182);
}

#chatBox {
    background-color: rgb(242, 244, 239);
    border-radius: 10px;
}
#chatBox div{
    margin: 4px 0;
}

#chatBox div p {
    margin: 0;
}


#chatBox .msg_sent .timestamp{ 
    margin: 0 6px 0 0;
    }
#chatBox .msg_received .timestamp{ 
        margin: 0 0 0 36px;
        }

#chatBox .msg_received span {
    margin: 0 6px;
    padding: 4px 16px;
    border-radius: 6px;
    border: solid 1px rgb(125, 177, 237);
    color: rgb(54, 139, 236);
}
#chatBox .msg_sent span {
    margin: 0 6px;
    padding: 4px 16px;
    border-radius: 6px;
    border: solid 1px rgb(93, 166, 93);
    color: rgb(26, 108, 59);
 }

#chatBox .msg_sent {
    position: relative;
    align-items: right;
    text-align: end;
    color: rgb(21, 21, 212);
}

.timestamp {
    font-size: 10px;
    font-style: italic;
    color: rgb(177, 177, 177);
    text-align: right;
}

/* Product Detail Page */

.product_name {
    color: var(--title-color);
}
.product_price {
    color: var(--price-color);
    margin-top: 16px;
}

.product_category {
    display: inline;
    border: solid 0.5px gray;
    border-radius: 6px;
    padding: 0px 14px 2px 14px;
    margin: 0 0 6px 0;
}
.product_price small {
    color: green;
}

.product_description{
    white-space: pre-line;;
}
/* NAVIGATION */

.unread_rooms_note {
    border: solid 1px rgb(219, 207, 207);
    padding: 0 4px;
    border-radius: 6px;
    font-size: 14px;
    color: var(--price-color); 
    margin: 0 0 2px 0;
}