:root {
    --title-color: rgb(76, 76, 76);
    --price-color: rgb(188, 53, 11);
    --dark-bg-color: #2c315c;
    --light-bg-color: #e3e5ed;
    --link-color1: #5450bd;
    --link-color2: #434094;
    --link-color3: #7182cf;
    --form-bg-color: #ced2df;
    --form-label-color: #7182cf;

}

body {
    background: #d3d5e1 !important;
}

body a{
    text-decoration: none;
}

main {
    margin-top: 60px;
}

body button {
    color: var(--link-color1);
    border: solid 1px var(--link-color1);
    border-radius: 4px;
    background: none;
    padding: 0px 12px;
    font-weight: 300;
}

body button:hover {
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Nunito", sans-serif;
}

h1 {
    font-size: 24px !important;
    margin-bottom: 0;
    font-weight: 600;
    color: var(--dark-bg-color) !important;
}

.form-control, input, .card-body,  
.card-body li, .list-group-item {
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}
.card-body {
    background-color: var(--light-bg-color) !important;
    border-radius: 4px;
}

.form-control       { background: var(--form-bg-color) !important; }
.form-control:focus { background: white !important; }
.list-group-item    { background: var(--light-bg-color) !important; }

.form-label {
    margin: 6px 0 0 0 !important;
    color:var(--form-label-color) !important;
    text-shadow: 0 0 2px white;
}


#productList {
    width: 100%;
    height: 280px;
    overflow-y: scroll;
}

.product-card {
    margin: 4px;
    float: left;
    width: 200px;
    height: 204px !important;
    box-shadow: 2px 2px 4px var(--link-color3),
                -1px -1px 6px #ffffff;
}

.card {
    border: none !important;
}
.product-card p {
    margin: 0px;
    padding: 0px;
    font-size: 12px;
    overflow: hidden;
 }
 .product-card .card-body  {
    padding: 6px 4px;
    min-height: 80px;
    border: none !important;
 }

 .product-card a{
    color: var(--title-color);
 }
 .product-card .btn-sm {
    padding: 0px 12px;
 }

.product-card .card-title {
    display: inline-block;
    max-height: 34px;
    width: 100%;
    overflow: hidden;
    font-size: 0.9em;
    margin: 0;
}

.product-card .card-price {
    position: absolute;
    bottom: 8px;
    right: 30px;
    max-height: 36px;
    font-weight: 500;
    color: var(--price-color);
    line-height: 1;
    
}
.product-card .card-price small {
    color: rgb(35, 132, 38);
    font-style: italic;
    font-weight: normal;
}
.product-card .card-text {
    font-size: 0.9em;
    font-weight: 400;
}
.product-card .card-img-top {
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}
.product-card .card-img-top img{
    margin: 0px;
    width: 100%;
    height: auto;
}
#favorite-products {
    padding: 5px 0;
    height: 120px;
    overflow-y: scroll;
}
/* PROFILE PAGE */

.my_badge_unread {
    margin: 0 4px;
}
.fav_card {
    width: 230px;
    height: 100px;
    overflow: hidden;
    float: left;
    border: solid 1px rgb(182, 182, 182);
    border-radius: 6px;
    padding: 4px;
    margin: 2px;
}
.fav_card  a{
    text-decoration: none;
    color: var(--title-color);
}
.fav_card .card-title {
    font-size: 12px;
    max-height: 28px;
    overflow: hidden;
    font-weight: bold;
    text-decoration: none;
}
.fav_card .card-title span{
    font-size: 11px;
    font-weight: normal;
}
.fav_card .card-price {
    margin-top: 6px;
    display: inline-block;
    font-size: 12px;
    color: rgb(155, 17, 17);
    line-height: 1;
    font-weight: 500;
}
.fav_card .card-price small{
    color: green;
}
.fav_card img {
    max-width: 100px;
    max-height: 58px;
    border-radius: 4px;
    float: right;
}

.fav_card .btn-sm {
    margin-top: -10px;
    padding: 0 12px;
    font-size: 10px;
}

.card-body .pin_btn, .card-body .chat_btn {
    /* background-color: rgba(83, 81, 81, 0.3); */
    border: none;

}

.card-body .pin_btn {
    position: absolute;
    font-size: 1.1em;    
    bottom: 4px;
    left: 4px;
    padding: 1px 6px;
    font-size: 1.2em;
}
.card-body .chat_btn{
    padding: 2px 7px;
    font-size: 1.1em;    
    position: absolute;
    left: 38px;
    bottom: 4px;
}

.card-body .my_item_update_btn, .card-body .my_item_del_btn {
    padding: 0 4px;
}

.card-body .my_item_update_btn {
    position: absolute;
    bottom: 4px;
    left: 4px;
    width: 40px
}

.card-body .my_item_del_btn {
    position: absolute;
    left: 47px;
    bottom: 4px;
}

.product-card .is_active{
    position: absolute;
    top: 107px;
    right: 0px;
    padding: 0px 6px;
    border-top-left-radius: 6px;
    font-size: 10px;
    background: rgba(111, 83, 83, 0.5);
    background-color: white;
}

#SearchContainer {
    margin: 20px 0;
}
.search_form input {
    padding: 0 0 0 6px;
}
.search_form button {
    padding: 0px 12px;
    font-size: 12px;
}

.search_form {
    margin: 0px;
}

#SearchContainer .query-card {
    box-shadow: 1px 1px 6px rgb(210, 195, 182);
}

#chatBox {
    background-color: rgb(242, 244, 239);
    border-radius: 10px;
}
#chatBox div{
    margin: 4px 0;
}

#chatBox div p {
    margin: 0;
}


#chatBox .msg_sent .timestamp{ 
    margin: 0 6px 0 0;
    }
#chatBox .msg_received .timestamp{ 
        margin: 0 0 0 36px;
        }

#chatBox .msg_received span {
    font-weight: 300;
    margin: 0 6px;
    padding: 4px 16px;
    border-radius: 6px;
    border: solid 0.6px rgb(125, 177, 237);
    color: rgb(54, 139, 236);
}
#chatBox .msg_sent span {
    font-weight: 300;
    margin: 0 6px;
    padding: 4px 16px;
    border-radius: 6px;
    border: solid 0.6px rgb(93, 166, 93);
    color: rgb(26, 108, 59);
 }

#chatBox .msg_sent {
    position: relative;
    align-items: right;
    text-align: end;
    color: rgb(21, 21, 212);
}

.timestamp {
    font-size: 10px;
    font-style: italic;
    color: rgb(177, 177, 177);
    text-align: right;
}

/* Product Detail Page */

.product_name {
    color: var(--title-color);
}
.product_price {
    color: var(--price-color);
    margin-top: 16px;
}

.product_category {
    display: inline;
    border: solid 0.5px gray;
    border-radius: 6px;
    padding: 0px 14px 2px 14px;
    margin: 0 0 6px 0;
}
.product_price small {
    color: green;
}

.product_description{
    white-space: pre-line;;
}
/* NAVIGATION */

.unread_rooms_note {
    border: solid 1px rgb(219, 207, 207);
    padding: 0 4px;
    border-radius: 6px;
    font-size: 14px;
    color: var(--price-color); 
    margin: 0 0 2px 0;
}

.my_list_group {
    padding: 4px 6px;
    list-style: none;
    background-color: #e3e5ed;
    border-radius: 4px;
}

/* Dark Mode Styling */

.dark-mode .msg_sent span {
    border: solid 1px rgb(26, 108, 59) !important;
    color: rgb(93, 166, 93) !important;
 }

.dark-mode {
    background-color: #080912 !important;
    color: rgb(112, 121, 138) !important;
}

.dark-mode .card-body {
    background-color: #212546 !important;
    border-radius: 4px;
  }

.dark-mode .product-card {

    box-shadow: 2px 2px 4px #111428,
                -1px -1px 6px #666666;
}

.dark-mode .form-control {
    background-color: #333 !important;
    color: rgb(112, 121, 138) !important;
}
.dark-mode .form-label { text-shadow: 0 0 2px black; }
.dark-mode .form-control:focus { background: #1a1a1a !important; }
.dark-mode .list-group-item    { background: none !important; }
.dark-mode .my_list_group {background-color: #212546}

.dark-mode p, .dark-mode h2, .dark-mode h4, .dark-mode h5, .dark-mode h3 {
    color: rgb(152, 152, 152) !important;
}
.dark-mode select {
    background-color: #333;
    color: rgb(112, 121, 138);
    border: solid 1px #ccc;
}
.dark-mode .card {
    background-color: #4b4b4b !important;
}

.dark-mode .text-muted, .dark-mode small {
    color: rgb(112, 121, 138) !important;
}

.dark-mode .card p, .dark-mode .card h4, 
.dark-mode .card label {
    color: rgb(152, 152, 152) !important;
}

.dark-mode .card-title {
    color: rgb(192, 192, 192) !important;
}

.dark-mode .card textarea{
    background-color: #333 !important;
    color: rgb(152, 152, 152);
}

.dark-mode .card textarea::placeholder{
    color: rgb(123, 123, 123);
}

.dark-mode a {
    color: rgb(113, 130, 207) !important;
}
.dark-mode a:hover {
    color: rgb(155, 168, 230) !important;
}
.dark-mode .list-group-item {
    background-color: #333;
    color: rgb(184, 183, 183);
}

.dark-mode input {
    background-color: #333; /* Darker background */
    color: rgb(122, 118, 118);
    border: 1px solid #555; /* Subtle border */
}

.dark-mode input::placeholder {
    color: #bbb; /* Light gray placeholder */
}

.dark-mode input:focus {
    background-color: #444; /* Slightly lighter on focus */
    color: rgb(150, 149, 149);
    border: 1px solid #888; /* Highlight border on focus */
    outline: none; /* Remove default outline */
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.5); /* Glow effect */
}

.dark-mode li {
    border: none;
    color: rgb(112, 121, 138);
}
.dark-mode li:hover {
    background-color: none;
}

.dark-mode ul {
    /* background-color: #494949; */
}

.dark-mode #chatBox {
    background-color: rgb(24, 26, 43);
  }

.dark-mode .dropdown-menu {
    background-color: #1f2342;
}

.dark-mode .dropdown-item:hover {
    background-color: #101223;
}

.dark-mode .ql-snow{
    background-color: #101223;
}

.dark-mode .ql-container {
    background-color: #333;
}

.dark-mode .ql-snow { 
    border: 0.5px solid rgb(101, 101, 101) !important; }
    
.dark-mode .ql-container {
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
}

/* NAVIGATION */
.nav {
    background-color: #2c315c;
}
.nav .messages {
    inset: 8px -15px auto auto !important;
  }
  
.nav .messages .message-item {
padding: 15px 20px;
transition: 0.3s;
}

.nav .messages .message-item a {
display: flex;
}

.nav .messages .message-item img {
margin: 0 20px 0 10px;
max-height: 40px;
}
.nav .messages .message-item i {
    display: inline-block;
    font-size: 1.2em;
    color: rgb(76, 170, 128);
}
.nav .messages .message-item h4 {
    display: inline-block;
font-size: 16px;
font-weight: 600;
margin-bottom: 5px;
color: #444444;
}

.nav .messages .message-item p {
font-size: 13px;
margin-bottom: 3px;
color: #6e6e6e;
}

.nav .messages .message-item small {
    color: rgb(32, 66, 190);
    font-size: 0.8
    em;
    font-style: italic;
}
.nav .messages .message-item:hover {
background-color: #f6f9ff;
}

.nav a {
    color: var(--link-color3);
}

.nav a:hover {
    color: rgb(201, 207, 235);
}
.nav .nav-link {
    padding-bottom: 8px;
}
.nav .nav-icon {
    font-size: 20px;
    color: #7182cf;
    margin-top: -10px;
    position: relative;
  }

.nav .badge-number {
    position: absolute;
    inset: 6px 9px auto auto;
    font-weight: normal;
    font-size: 12px;
    padding: 2px 4px;
}

.dropdown-footer{
    text-align: center;
}

.dropdown-footer a{
    color: var(--link-color1);
}

.dropdown-menu i {
    padding: 6px 6px 6px 0px;
    /* color: rgb(126, 105, 105); */
}

.dropdown-item:hover {
    background-color: #404573 !important;
}

#curr_images img{
    margin: 0px 4px;
    border-radius: 4px;
    height: 75px;
    width: auto

    }

.ql-container .ql-snow { border: none !important;}
.ql-container { height: 80% !important; 
                min-height: 140px !important;
                background-color: var(--form-bg-color); 
                border-bottom-right-radius: 6px;
                border-bottom-left-radius: 6px;}
.ql-container p {font-size: 1.2em;}
