venv
.DS_Store
.env
.vscode
__pycache__/
*.py[cod]
info.txt
check.py
celerybeat-schedule
celerybeat-schedule.db
cookies.txt
reqs.txt
reqs2.txt
tests/
app/web/static/uploads/*
app/logs/*
!app/logs/
media/movies/*
media/movies/thumbs/*
!media/movies/thumbs/
restart_srvs.py
app/domain/security/encryption.keyinfo