
<nav class="nav justify-content-end fixed-top">
        
    <a class = "nav-link" href="/"><i class="bi bi-box-seam"></i> Объявления</a>
    
    <a class = "nav-link" href="/movies/search"> <i class="bi bi-film"></i> Фильмы</a>

    {% if current_user %}
        {% if unread_rooms > 0 %}

            <li class="nav-link dropdown">

              <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
                <i class="bi bi-chat-square-text"></i>
                <span class="badge bg-success badge-number">{{unread_rooms}}</span>
              </a>
      
              <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow messages">
                <li class="dropdown-header">
                   У вас {{unread_rooms}} сообщений.
                   
                  <a href="#"><span class="badge bg-success p-2 ms-2">Посмотреть</span></a> 
                  
                </li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                
                {% for room in rooms%}
                  <li class="message-item">
                    <a href="/messages?room_id={{room[0]}}">
                      <!-- Favicons 
                      <img src="assets/img/messages-1.jpg" alt="" class="rounded-circle">
                      -->
                      <div>
                        <i class="bi bi-person-circle"></i>
                        <h4>   {{room[1]|title}}  <span> {{room[3]|time_ago}} </span> </h4>
                        {% for msg in room[2] %}
                          <p> - {{msg}}</p>
                        {% endfor %}
                         
                      </div>
                    </a>
                  </li>
                  <li>
                    <hr class="dropdown-divider">
                  </li>
                {% endfor %}
      
              </ul>
          </li>

        {% endif %}

    {% endif %}

    <a class="nav-link dropdown-toggle px-4" type="button" role="button"
        id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="bi bi-activity"></i> Действия
    </a>
    
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        {% if not current_user or current_user == 'None'%}
        <li> <a class="dropdown-item" href="/login"><i class="bi bi-box-arrow-in-down-right"></i> Войти </a> </li>
        <li> <a class="dropdown-item" href="/register"><i class="bi bi-pencil-square"></i> Регистрация</a> </li>
        {% else %}
        <li><a class = "nav-link dropdown-item" href="/about"> 
          <i class="bi bi-person-circle"></i> {{current_user.username|title}} | Профайл </a>
        </li>  
        <div class="dropdown-divider"></div>
        <li> <a class="nav-link dropdown-item" href="/create-product"><i class="bi bi-file-earmark-richtext"></i> Создать обьявление</a>  </li>
        
        {% if current_user.role == "ADMIN" %}
        <li> <a class ="nav-link dropdown-item" href="/movies/upload"><i class="bi bi-cloud-arrow-up"></i> Загрузить Видео</a> </li>
        <li> <a class="nav-link dropdown-item" href="/admin"> <i class="bi bi-sliders2"></i></i> Админ </a> </li>
        {% elif current_user.role == "CREATOR" %}
        <li> <a class ="nav-link dropdown-item" href="/movies/upload"><i class="bi bi-cloud-arrow-up"></i> Загрузить Видео</a> </li>
        {% endif %}
        <li> <a class="nav-link dropdown-item" role=button id="logoutBtn"><i class="bi bi-box-arrow-up-left"></i> Выйти</a> </li>
        {% endif %}

        <li><a class="nav-link  dropdown-item" role="button" onclick="toggleTheme()" > <i id="themeIcon" class="bi bi-lightbulb-fill"></i> Свет </a></li>
    </ul>

    <div id="status_messages" class="text-center alert fade show" role="alert"></div>
</nav>
