
<nav class="nav justify-content-end">
    <a class = "nav-link" href="/">Home</a>
    <a class = "nav-link" href="/about">About</a> 

    <button class="btn btn-sm btn-outline-primary dropdown-toggle py-0 px-4" type="button" 
        id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
        Actions
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <li> <a class="dropdown-item" href="/create-product">Create Product</a>  </li>
        <li> <a class="dropdown-item" href="/login">Login</a> </li>
        <li> <a class="dropdown-item" href="/register">Register</a> </li>
        <div class="dropdown-divider"></div>
        <li> <a class="dropdown-item" role=button id="logoutBtn">Logout</a> </li>
    </ul>
</nav>

