
<nav class="nav justify-content-end">
    <a class = "nav-link" href="/">Home</a>
    
    <a class = "nav-link" href="/movies/stream">Фильмы</a>

    {% if current_user %}
    <a class = "nav-link" href="/about"> 
        &#x1F464; {{current_user.username|title}} 
        
        {% if unread_rooms > 0 %}
            <span class='unread_rooms_note'>{{unread_rooms}}</span>
        {% endif %}
       
    </a> 
    {% endif %}

    <button class="btn btn-sm btn-outline-primary dropdown-toggle py-0 px-4" type="button" 
        id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
        Действия
    </button>
    
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        {% if not current_user or current_user == 'None'%}
        <li> <a class="dropdown-item" href="/login">Login</a> </li>
        <li> <a class="dropdown-item" href="/register">Register</a> </li>
        {% else %}
        <div class="dropdown-divider"></div>
        <li> <a class="nav-link dropdown-item" href="/create-product">Создать обьявление</a>  </li>
        <li> <a class ="nav-link dropdown-item" href="/movies/upload">Загрузить Видео</a> </li>
        <li> <a class="nav-link dropdown-item" role=button id="logoutBtn">Выйти</a> </li>
        {% endif %}
    </ul>
</nav>
