{% extends "base.html" %}

{% block content %}

{% include "product_forms/search_form.html" %}




<h4> Новые объявления</h4>

<div id="productContainer" class="clearfix">
</div>


<script>
async function fetchProducts() {
    try {
        let response = await fetch("/api/products/list");  // Fetch from API
        let products = await response.json();

        let productContainer = document.getElementById("productContainer");
        productContainer.innerHTML = "";  // Clear loading text

        if (products.length === 0) {
            productContainer.innerHTML = "<p>No products found.</p>";
            return;
        }
        let timer = 0;
        products.forEach(product => {
            let productCard = createProductCard(product, timer);
            timer += 10;
            productContainer.appendChild(productCard);
        });

        AOS.refresh();
        
    } catch (error) {
        console.error("Error fetching products:", error);
        document.getElementById("productContainer").innerHTML = "<p>Error loading products.</p>";
    }
}


fetchProducts();

function createImageCarousel(productId, imageUrls) {
    let indicators = "";
    let slides = "";

    imageUrls.forEach((imgUrl, index) => {
        const activeClass = index === 0 ? "active" : "";
        indicators += `
            <button type="button" data-bs-target="#carousel_${productId}" data-bs-slide-to="${index}" class="${activeClass}" aria-label="Slide ${index + 1}"></button>
        `;
        slides += `
            <div class="carousel-item ${activeClass}">
                <img src="/${imgUrl}" class="d-block w-100 rounded" alt="Product Image">
            </div>
        `;
    });

    return `
        <div id="carousel_${productId}" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">${indicators}</div>
            <div class="carousel-inner">${slides}</div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carousel_${productId}" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carousel_${productId}" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    `;
}

async function openChat(receiverId, product_id) {
    try {
        const user = await authenticatedRequest('me'); 
        if (!user) {
            alert("Войдите чтоб написать продавцу.");
            return;
        }

        if (user.user_id === receiverId) {
            alert("Forbidden.");
            return;
        }
        window.location.href = `/messages/users?user_id=${user.user_id}&receiver_id=${receiverId}&product_id=${product_id}`;

    } catch (error) {
        console.error("Authentication error:", error);
        alert("Войдите чтоб написать продавцу.");
    }
}


</script>
<script src="{{ url_for('static', path='utils.js') }}"></script>

{% endblock %}
