{% extends "base.html" %}

{% block content %}

{% include "product_forms/search_form.html" %}


<div id="SearchContainer" class="clearfix"></div>

<h4> Новые объявления</h4>

<div id="productContainer" class="clearfix">
</div>


<script>
async function fetchProducts() {
    try {
        let response = await fetch("/api/products/list");  // Fetch from API
        let products = await response.json();

        let productContainer = document.getElementById("productContainer");
        productContainer.innerHTML = "";  // Clear loading text

        if (products.length === 0) {
            productContainer.innerHTML = "<p>No products found.</p>";
            return;
        }

        products.forEach(product => {

            let productCard = document.createElement("div");
            productCard.classList.add("product-card");
            productCard.classList.add("card");            
            let imageUrl = ''
            if (product.image_urls) {
                imageUrl = product.image_urls.length > 0 ? product.image_urls[0] : "/static/no-image.png";
            } else {
                imageUrl = "static/no-image.png";
            }
            
            let productName = product.name;
            let productDescription = product.description;
            productName += `<span class="card-text"> - ${productDescription} </span>`;
            productCard.innerHTML = `
                <div class="card-img-top">
                    <img src="/${product.image_urls[0]}" alt="Product Image" class="card-img-inside">
                </div>
                <div class="card-body">
                    <h5 class="card-title">${productName} </h5>
                    <a href="/messages?receiver_id=${product.owner_id}" class="chat_btn btn btn-outline-primary btn-sm">&#128172;</a>
                    <button class="btn btn-sm btn-outline-primary pin_btn" id="pin_${product.id}" 
                        onclick="addToFavorites(${product.id})">
                        &#128206;
                    </button>
                    <p class="card-price">
                        ${displayPrice(product.price, product.is_dollar)}
                    </p>
                </div>
                `;

            productContainer.appendChild(productCard);
        });

    } catch (error) {
        console.error("Error fetching products:", error);
        document.getElementById("productContainer").innerHTML = "<p>Error loading products.</p>";
    }
}


fetchProducts();

async function addToFavorites(productId) {
    
    let tokenRow = document.cookie.split('; ').find(row => row.startsWith('access_token='));

    if (!tokenRow) {
        console.warn("User is not authenticated.");
        return;  // Stop execution if no token is found
    }

    let token = tokenRow.split("=")[1]

    let response = await fetch(`/favs/${productId}`, {
        method: "POST",
        headers: { "Authorization": `Bearer ${token}` }
    });

    if (response.ok) {

        let button = document.getElementById(`pin_${productId}`)
        button.classList.remove("btn-outline-success");
        button.classList.add("btn-primary");
    } else {
        let error = await response.json();
        alert(error.detail);
    }
}

async function removeFromFavorites(productId) {


    let tokenRow = document.cookie.split('; ').find(row => row.startsWith('access_token='));

    if (!tokenRow) {
        console.warn("User is not authenticated.");
        return;  // Stop execution if no token is found
    }

    let token = tokenRow.split("=")[1];  // Extract token value

    let response = await fetch(`/favs/${productId}`, {
        method: "DELETE",
        headers: { "Authorization": `Bearer ${token}` }
    });

    if (response.ok) {
        console.log('Unpinned')
    } else {
        let error = await response.json();
        alert(error.detail);
    }
}

function displayPrice(price, isDollar) {
    const exchangeRate = 87.8;
    
    function formatLargeNumbers(value, isUSD = false) {
        if (value >= 1_000_000_000) return (value / 1_000_000_000).toFixed(1) + (isUSD ? " млрд" : " млрд");
        if (value >= 1_000_000) return (value / 1_000_000).toFixed(2) + (isUSD ? " млн" : " млн");
        if (value >= 100_000) return (value / 1_000).toFixed(1) + (isUSD ? " тыс" : " тыс");
        if (value >= 10_000) return (value / 1_000).toFixed(1) + (isUSD ? " тыс" : " тыс");
        return value.toFixed(1);
    }

    if (isDollar) {
        let som = price * exchangeRate;
        return `$${formatLargeNumbers(price, true)} <br> <small> ${formatLargeNumbers(som, false)} c.</small>`;
    } else {
        let usd = price / exchangeRate;
        return `${formatLargeNumbers(price, false)} c.<br><small> $${formatLargeNumbers(usd, true)} </small>`;
    }
}
</script>


{% endblock %}
