{% extends "base.html" %}

{% block content %}

<div class="container">
    <h2>Регистрация</h2>

    <div id="registerMessage" class="fade show p-2" role="alert">
    </div>

    <form id="registerForm" >
        <label class="form-label" for="username">Username:</label>
        <input class="form-control" type="text" id="username" name="username" required>

        <label class="form-label" for="email">Email:</label>
        <input class="form-control" type="email" id="email" name="email" required>

        <label class="form-label" for="password">Password:</label>
        <input class="form-control" type="password" id="password" name="password" required>

        <button class="btn btn-sm btn-primary mt-3 px-4" type="submit">Зарегистрировать</button>
    </form>

    
    <p class="py-3"> Есть аккаунт? <a href="{{ url_for('login_page') }}">Войти</a></p>
</div>

<script>
    document.getElementById("registerForm").addEventListener("submit", async function(event) {
        event.preventDefault();

        let formData = {
            username: document.getElementById("username").value,
            email: document.getElementById("email").value,
            password: document.getElementById("password").value
        };

        let response = await fetch("/api/auth/register", {
            method: "POST",
            headers: { "Content-Type": "application/json" },
            body: JSON.stringify(formData)
        });

        let result = await response.json();

        if (response.ok) {
            document.getElementById("registerMessage").innerText = "Registration successful! Please check your email to verify.";
            document.getElementById("registerMessage").classList.add("alert");
            document.getElementById("registerMessage").classList.remove("alert-warning");
            document.getElementById("registerMessage").classList.add("alert-success");
            document.getElementById("registerForm").reset(); 
        } else {
            document.getElementById("registerMessage").innerHTML = `<i class="bi bi-exclamation-triangle me-1"></i> ${result.detail || "Registration failed!"}`;
            document.getElementById("registerMessage").classList.add("alert");
            document.getElementById("registerMessage").classList.add("alert-warning");
        }

    });
</script>

{% endblock%}