{% extends "base.html" %}

{% block content %}


<div class="pagetitle">
    <h1>Объявление</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Главная</a></li>
        <li class="breadcrumb-item">Поиск</li>
      </ol>
    </nav>
  </div>

<div class="row">

    <div class="col-md-6">
        <div id="productImageContainer" class="text-center">
            <img id="productImage" src="" class="img-fluid rounded shadow" alt="Product Image">
        </div>
    </div>

    <div class="col-md-6">
        <div class="product_info_card">
            <h2 id="productName" class="product_name"></h2>

            <div id="is_activated_product" class="text-danger"></div>

            <p id="productCategory" class="product_category"></p>
            <p id="productPrice" class="product_price"></p>
            <p id="productDescription" class="product_description"></p>

            <div class="product_ent_Name" id="entityName"></div>
            <div class="product_ent_Address" id="entityAddress"></div>
            <div class="product_ent_Phone" id="entityPhone"></div>
            <div class="product_ent_WhatsApp" id="entityWhatsApp"></div>

            <div class="mt-3" id="productBtns"> 
            </div>
        </div>
    </div>
    
</div>

<div id="SearchDetailContainer"></div>

<script>

    let user_favs = {{ current_user.favorite_products | get_ids | tojson | safe }};
    let curr_user = {{ current_user.id if current_user else "null" }};
    let cach_data;

    if (user_favs.includes(0)) { console.log('0 in user favs', user_favs) }

    async function loadProductDetails() {
        const urlParams = new URLSearchParams(window.location.search);
        const query = urlParams.get('query');
        const productId = {{ product_id }}; // Ensure product_id is passed from template
    
        if (!productId) {
            alert("Invalid product ID");
            return;
        }
    
        try {
            let token = getAccessTokenFromCookie();
            const response = await fetch(`/api/products/${productId}?query=${encodeURIComponent(query)}`, {
                    method: "GET",
                    headers: {
                        "Authorization": `Bearer ${token}`,
                        "Content-Type": "application/json"
                    }
                });

            if (!response.ok ) {
                let error = await response.json()
                if (document.referrer) {
                    console.log('error', error)
                    window.location.href = document.referrer;   // Redirect to the referring page
                } else {
                    console.log('error', error)
                    window.history.back();                      // If no referrer, use history back
                }
                throw new Error("Product is not available yet"); 
            }

            const data = await response.json();
            const product = data.product
            
            // Populate product details
            updateProductDetail(product)

            let productContainer = document.getElementById("SearchDetailContainer");
            let timer = 0;
            cach_data = data.cached_data
            if (cach_data) {
                cach_data.forEach(product => {
                    let productCard = createProductCard(product, timer);
                    timer += 10;
                    productContainer.appendChild(productCard);
                });
            }

        } catch (error) {
            console.error("Error loading product:", error);
        }
    }
    
    function updateProductDetail(product){
        document.getElementById("productName").textContent = product.name;
        document.getElementById("productCategory").textContent = product.category;
        document.getElementById("productPrice").innerHTML = displayPrice_org(product.price, product.is_dollar);
        document.getElementById("productDescription").innerHTML = product.description;
        
        if (!product.activated) {
            let elem = document.getElementById("is_activated_product").textContent = "Не опубликован!"
        }

        let primary = "secondary";
        if (user_favs.includes(product.id)) {
            primary = "primary"
        }

         let btns = document.getElementById("productBtns")
         if (curr_user) {
            btns.innerHTML = `
                <button id="chatSeller" class="btn btn-sm btn-outline-success chat_link_btn" data-receiver-id data-product-id> 
                    <i class="bi bi-chat-left-text"></i></button>
                <button id="pin_${product.id}" class="btn btn-sm btn-outline-${primary}" onclick="addToFavorites(${product.id})">
                    <i class="bi bi-paperclip"></i></button> 
                `;
         }else {
            btns.innerHTML = `
                <button disabled id="chatSeller" class="btn btn-sm btn-outline-success chat_link_btn" data-receiver-id data-product-id> <i class="bi bi-chat-left-text"></i></button>
                <button id="pin_${product.id}" class="btn btn-sm btn-outline-secondary" onclick="addToFavorites(${product.id})" disabled><i class="bi bi-paperclip"></i></button>
                `;
         }
         // btns.innerHTML = `   <button>test</button> `;

        // Display all product images in Bootstrap Carousel
        const imageContainer = document.getElementById("productImageContainer");
        if (product.image_urls.length > 0) {
            imageContainer.innerHTML = createImageCard(product.image_urls);
        } else {
            imageContainer.innerHTML = `<img src="/static/default-product.jpg" 
            class="img-fluid rounded shadow" alt="Product Image">`;
        }

        // Update chat link
        document.getElementById("chatSeller").dataset.receiverId = product.owner_id;
        document.getElementById("chatSeller").dataset.productId = product.id;

        if (product.owner_id == "{{current_user.id}}") {
            document.getElementById("chatSeller").classList.add('d-none')
        }
        loadEntityInfo(product.owner_id)
    }

    function createImageCard(imageUrls) {
        if (!imageUrls || imageUrls.length === 0) return "";
    
        let bigImageUrl = imageUrls[0]; // First image is the main image
        let thumbnails = imageUrls.map((url, index) => 
            `<img src="/${url}" class="thumbnail ${index === 0 ? '' : ''}" onmouseover="swapImage('/${url}')">`
        ).join("");
    
        return `
            <div class="item_detail_container">
                
                <div class="big-image-container">
                    <img id="bigImage" src="/${bigImageUrl}" class="big-image">
                </div>

                <div class="thumbnail-container row-1">
                    ${thumbnails}
                </div>
                
            </div>
    `;
    }
    
    function swapImage(newImageUrl) {
        document.getElementById("bigImage").src = newImageUrl;
    }

    async function loadEntityInfo(user_id) {
    
        let response = await fetch(`/api/ent/${user_id}`, {
            method: "GET",
             }
        );
    
        if (response.ok) {
            let entity = await response.json();

            document.getElementById("entityName").innerHTML =    `Продавец: ${entity.entity_name}`;
            document.getElementById("entityPhone").innerHTML =   `Тел.    : ${entity.entity_phone}`;
            document.getElementById("entityAddress").innerHTML = `Адрес   : ${entity.entity_address}`;
            document.getElementById("entityWhatsApp").innerHTML = `Востап : ${entity.entity_whatsapp}`;
        } else {
            let errorData = await response.json();
            console.log("Error Response:", errorData);
            document.getElementById("userInfo").innerText = "Error loading user data.";
        }
    }

    document.addEventListener("click", async function (event) {
        let button = event.target.closest(".chat_link_btn");
        if (!button) return; // Exit if the clicked element is not a chat button
    
        try {
            await authenticatedRequest('me');
        } catch (error) {
            showMessage("Войдите чтоб написать продавцу.", "warning");
            return;
        }
    
        const receiverId = button.getAttribute("data-receiver-id");
        const productId = button.getAttribute("data-product-id");
    
        window.location.href = `/messages/users?user_id={{current_user.id}}&receiver_id=${receiverId}&product_id=${productId}`;
    });
    
document.addEventListener("DOMContentLoaded", 
    loadProductDetails  );

function createProductCard(product, delay) {
    const urlParams = new URLSearchParams(window.location.search);
    const query = urlParams.get('query');
    let productCard = document.createElement("div");
    productCard.classList.add("product-card", "card");
    productCard.setAttribute("data-aos", "fade-in");
    productCard.setAttribute("data-aos-delay", delay);
    let imageUrls = product.image_urls && product.image_urls.length > 0 ? product.image_urls : ["/static/no-image.png"];
    //let productName = `${product.name} <span class="card-text"> - ${product.description} </span>`;
    let productName = product.name;
    let maxLength = 18;
    let truncatedName = product.name.length > maxLength 
    ? productName.substring(0, maxLength) 
    : productName;
    
    let primary = "secondary";
    if (user_favs.includes(product.id)) {
        primary = "primary"
    }

    productCard.innerHTML = `
        <div class="card-img-top">
            ${createImageCarousel2(product.id, imageUrls)}
        </div>
        <div class="card-body">
            <a href="#" class="product-link"
                data-product="${btoa(unescape(encodeURIComponent(JSON.stringify(product))))}">
                    <h5 class="card-title">${truncatedName}</h5></a>

        {% if current_user %}
            <button class="chat_btn btn btn-outline-secondary btn-sm" 
                data-aos-delay="10"
                onclick="openChat(${product.owner_id}, ${product.id})">
                <i class="bi bi-chat-left-text"></i>
            </button>

            <button class="btn btn-sm btn-outline-${primary} pin_btn"
                id="pin_${product.id}" 
                onclick="addToFavorites(${product.id})">
                <i class="bi bi-paperclip"></i>
            </button>
        {% else %}

            <button class="chat_btn btn btn-outline-secondary btn-sm" 
                data-aos-delay="10" disabled>
                <i class="bi bi-chat-left-text"></i>
            </button>

            <button class="btn btn-sm btn-outline-secondary pin_btn"
                id="pin_${product.id}" disabled>
                <i class="bi bi-paperclip"></i>
            </button>
        {% endif %}
            <p class="card-price">
                ${displayPrice(product.price, product.is_dollar)}
            </p>
        </div>
    `;

    return productCard;
}

function decodeHtmlEntities(text) {
    let textarea = document.createElement("textarea");
    textarea.innerHTML = text;
    return textarea.value;
}

document.addEventListener("click", function (event) {
    let link = event.target.closest(".product-link");
    if (!link) return;

    event.preventDefault();

    try {
        let jsonData = decodeURIComponent(escape(atob(link.dataset.product))); // Decode Base64
        let product = JSON.parse(jsonData);  // Parse JSON safely
        updateProductDetail(product);
    } catch (error) {
        console.error("JSON Parsing Error:", error);
    }
});


function createImageCarousel2(productId, imageUrls) {
    let indicators = "";
    let slides = "";

    imageUrls.forEach((imgUrl, index) => {
        const activeClass = index === 0 ? "active" : "";
        indicators += `
            <button type="button" data-bs-target="#carousel_${productId}" data-bs-slide-to="${index}" class="${activeClass}" aria-label="Slide ${index + 1}"></button>
        `;
        slides += `
            <div class="carousel-item ${activeClass}">
                <img src="/${imgUrl}" class="d-block w-100 rounded" alt="Product Image">
            </div>
        `;
    });

    return `
        <div id="carousel_${productId}" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">${indicators}</div>
            <div class="carousel-inner">${slides}</div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carousel_${productId}" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carousel_${productId}" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    `;
}
</script>


{% endblock %}