
<div class="col-12">  
      <div class="card my-products overflow-auto">
        <div class="card-body p-0">
          <table class="table table-borderless">
            <thead>
              <tr>
                <th scope="col">Фото</th>
                <th scope="col">Название</th>
                <th scope="col">Цена</th>
                <th scope="col"><i class="bi bi-chat-left-dots-fill"></i></th>
                <th scope="col"><i class="bi bi-x-square-fill"></i></th>
              </tr>
            </thead>
            <tbody id="my-favorite-products"> </tbody>
          </table>
  
        </div>
      </div>
    </div>

<script>
    async function fetchFavoriteProducts() {
        let token = getAccessTokenFromCookie();

        let response = await fetch("/favs", {
            method: "GET",
            headers: { "Authorization": `Bearer ${token}` }
        });

        if (response.ok) {
            let products = await response.json();
            displayFavProducts(products);

        } else {
            console.log('error in loading favorite products')
        }
    }

    function displayFavProducts(products) {
        let productListDiv = document.getElementById("my-favorite-products");
        productListDiv.innerHTML = ""; // Clear previous items
    
        if (products.length === 0) {
            productListDiv.innerHTML = `<p class="p-3"> У вас еще нет сохраннеъ объявлений </p>`;
            return;
        }
        // productName += `<span class="card-text"> - ${productDescription} </span>`;
        products.forEach(product => {
            let productDiv = document.createElement("tr");
            let productName = product.name;
            let productDescription = product.description;
            
            productDiv.innerHTML = `
                  <th scope="row"><a href="#"><img src="/${product.image_urls[0]}" alt="Product Image"></a></th>
                  <td><a href="/product/${product.id}" class="">${productName.substring(0, 18)}</a></td>
                  <td>${displayPrice(product.price, product.is_dollar)}</td>
                  <td class="">
                        <button class="btn btn-outline-success btn-sm my_item_update_btn"
                        onclick="openChat(${product.owner_id}, ${product.id})">
                        <i class="bi bi-chat-left-text"></i>
                    </button>
                 </td>
                  <td> <button class="btn btn-sm btn-outline-danger my_item_del_btn" onclick="removeFromFavorites(${product.id})">
                        <i class="bi bi-x-lg"></i> </button>
                  </td>
                `;
            productListDiv.appendChild(productDiv);
        });
    }

    async function removeFromFavorites(productId) {
        let token = document.cookie.split('; ').find(row => row.startsWith('access_token=')).split("=")[1];

        let response = await fetch(`/favs/${productId}`, {
            method: "DELETE",
            headers: { "Authorization": `Bearer ${token}` }
        });

        if (response.ok) {
            showMessage("Объявление удалено из Избранных!", "success");
            fetchFavoriteProducts(); // Refresh the list
        } else {
            let error = await response.json();
            console.log(error.detail);
            showMessage("Ошибка при удалении!", "warning");
        }
    }

    function getAccessTokenFromCookie() {
        const cookies = document.cookie.split("; ");
        for (let cookie of cookies) {
            const [name, value] = cookie.split("=");
            if (name === "access_token") return value;
        }
        return null;
    }

    fetchFavoriteProducts();
</script>