<div class="mt-3">
    <div class="input-group search_form">
        <input type="text" id="searchQuery" class="form-control" placeholder="Поиск ..." aria-label="Search products">
        <button class="btn btn-primary" type="button" onclick="searchProducts()">Поиск</button>
    </div>
    <p id='searchError' class="small text-danger"></p>
</div>

<div id="SearchContainer" class="clearfix"></div>

<script>

    document.addEventListener("DOMContentLoaded", function () {
        // Add keypress event listener to the search input field
        document.getElementById("searchQuery").addEventListener("keypress", function (event) {
            if (event.key === "Enter") {
                searchProducts();
            }
        });
    });

    async function searchProducts() {
        let query = document.getElementById("searchQuery").value.trim();
        
        if (!query || query.length<2 ) {
            document.getElementById("searchError").innerText = "Введите более 2 символов!";
            return; 
        } else {
            document.getElementById("searchError").innerText = ""
        }
    
        let response = await fetch(`/api/products/search?query=${encodeURIComponent(query)}`);
        
        if (!response.ok) {
            let errorData = await response.json();
            document.getElementById("searchError").innerText = errorData.detail;
            return;
        }
    
        let products = await response.json();
        updateProductList(products);
    }
    
    function updateProductList(products) {
        let productContainer = document.getElementById("SearchContainer");
        productContainer.innerHTML = "";  // Clear previous results
    
        if (products.length === 0) {
            productContainer.innerHTML = `<p class="text-primary m-0">По вашему запросу нет объявлений.</p>`;
            return;
        }

        let timer = 0;
        products.forEach(product => {

            let productCard = createProductCard(product, timer);
            timer += 100;
            productContainer.appendChild(productCard);
        });
    }

</script>