<div class="container mt-3">
    <div class="input-group search_form">
        <input type="text" id="searchQuery" class="form-control" placeholder="Поиск ..." aria-label="Search products">
        <button class="btn btn-primary" type="button" onclick="searchProducts()">Поиск</button>
    </div>
    <p id='searchError' class="small text-danger"></p>
</div>

<script>

    document.addEventListener("DOMContentLoaded", function () {
        // Add keypress event listener to the search input field
        document.getElementById("searchQuery").addEventListener("keypress", function (event) {
            if (event.key === "Enter") {
                searchProducts();
            }
        });
    });

    async function searchProducts() {
        let query = document.getElementById("searchQuery").value.trim();
        
        if (!query || query.length<2 ) {
            document.getElementById("searchError").innerText = "Введите более 2 символов!";
            return; 
        } else {
            document.getElementById("searchError").innerText = ""
        }
    
        let response = await fetch(`/api/products/search?query=${encodeURIComponent(query)}`);
        
        if (!response.ok) {
            let errorData = await response.json();
            document.getElementById("searchError").innerText = errorData.detail;
            return;
        }
    
        let products = await response.json();
        updateProductList(products);
    }
    
    function updateProductList(products) {
        let productContainer = document.getElementById("SearchContainer");
        productContainer.innerHTML = "";  // Clear previous results
    
        if (products.length === 0) {
            productContainer.innerHTML = `<p class="text-primary m-0">По вашему запросу нет объявлений.</p>`;
            return;
        }
    
        products.forEach(product => {
            let productCard = document.createElement("div");
            productCard.classList.add("query-card");
            productCard.classList.add("product-card");
            productCard.classList.add("card");   
            productCard.innerHTML = `
                <img src="/${product.image_urls[0]}" alt="Product Image" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">${product.name}</h5>
                    <p class="card-text">${product.description}</p>
                    <p class="">
                      ${displayPrice(product.price, product.is_dollar)}
                    </p>
                    <p>Category: ${product.category}</p>
                    <button class="btn btn-sm btn-outline-success pin_btn" id="pin_${product.id}" 
                        onclick="addToFavorites(${product.id})">
                        &#128206;
                    </button>
                </div>
            `;
            productContainer.appendChild(productCard);
        });
    }

    function displayPrice(price, isDollar) {
        const exchangeRate = 87.8;
        
        if (isDollar) {
            let som = price * exchangeRate;
            return `Цена: $${price.toFixed(2)} <small>(${som.toFixed(0)} сом)</small>`;
        } else {
            let usd = price / exchangeRate;
            return `Цена: ${price.toFixed(0)} сом <small> ($${usd.toFixed(2)}) </small>`;
        }
    }

</script>