
<form id="changePasswordForm">
    <div class="row mb-3">
        <label for="old_password" class="col-md-4 col-lg-3 col-form-label">Текущий пароль</label>
        <div class="col-md-8 col-lg-9">
          <input name="old_password" type="password" class="form-control" id="old_password" required>
        </div>
      </div>

      <div class="row mb-3">
        <label for="new_password" class="col-md-4 col-lg-3 col-form-label">Новый пароль</label>
        <div class="col-md-8 col-lg-9">
          <input name="new_password" type="password" class="form-control" id="new_password" required>
        </div>
      </div>
    <div class="text-center">
        <button class="btn btn-sm btn-primary px-4" type="submit">Изменить</button> 
    </div>
</form>

<script>
    async function updatePassword(event) {
        event.preventDefault();
        let token = document.cookie.split('; ').find(row => row.startsWith('access_token='));
        if (!token) { return; }
        token = token.split('=')[1].trim();
    
        let data = {
            old_password: document.getElementById("old_password").value.trim(),
            new_password: document.getElementById("new_password").value.trim()
        };
    
        let response = await fetch("/api/auth/change-password", {
            method: "PUT",
            headers: { "Authorization": `Bearer ${token}`, "Content-Type": "application/json" },
            body: JSON.stringify(data)
        });
    
        let result = await response.json();
        console.log(result)
        showMessage(result.detail, "warning")
    }
    
    
    document.getElementById("changePasswordForm").addEventListener("submit", updatePassword);
    </script>