
<form id="changePasswordForm">
    <div class="row mb-3">
        <label for="old_password" class="col-md-4 col-lg-3 col-form-label">Текущий пароль</label>
        <div class="col-md-8 col-lg-9">
          <input name="old_password" type="password" class="form-control" id="old_password" required>
        </div>
      </div>

      <div class="row mb-3">
        <label for="new_password" class="col-md-4 col-lg-3 col-form-label">Новый пароль</label>
        <div class="col-md-8 col-lg-9">
          <input name="new_password" type="password" class="form-control" id="new_password" required>
        </div>
      </div>
    <div class="text-center">
        <button class="btn btn-sm btn-primary px-4" type="submit">Изменить</button> 
    </div>
</form>

<script>
  document.addEventListener("DOMContentLoaded", function () {
      const form = document.getElementById("changePasswordForm");
      const old_password = document.getElementById("old_password");
      const new_password = document.getElementById("new_password");
  
      function validatePasswordField(passwordField, minLength, message) {
          if (passwordField.value.trim() === "") {
              passwordField.setCustomValidity("Пароль не может быть пустым.");
          } else if (passwordField.value.length < minLength) {
              passwordField.setCustomValidity(message);
          } else {
              passwordField.setCustomValidity("");
          }
      }
  
      // Add event listener for input validation
      old_password.addEventListener("input", function () {
          validatePasswordField(old_password, 6, "Текущий пароль должен содержать минимум 6 символов.");
      });
  
      new_password.addEventListener("input", function () {
          validatePasswordField(new_password, 6, "Новый пароль должен содержать минимум 6 символов.");
      });
  
      // Prevent form submission if passwords are invalid
      form.addEventListener("submit", function (event) {
          validatePasswordField(old_password, 6, "Текущий пароль должен содержать минимум 6 символов.");
          validatePasswordField(new_password, 6, "Новый пароль должен содержать минимум 6 символов.");
  
          if (!form.checkValidity()) {
              event.preventDefault(); // Prevent form submission if invalid
          }
          form.classList.add("was-validated");
      });
  });
  </script>
  

<script>
    async function updatePassword(event) {
        event.preventDefault();
        let token = document.cookie.split('; ').find(row => row.startsWith('access_token='));
        if (!token) { return; }
        token = token.split('=')[1].trim();
    
        let data = {
            old_password: document.getElementById("old_password").value.trim(),
            new_password: document.getElementById("new_password").value.trim()
        };
    
        let response = await fetch("/api/auth/change-password", {
            method: "PUT",
            headers: { "Authorization": `Bearer ${token}`, "Content-Type": "application/json" },
            body: JSON.stringify(data)
        });
    
        let result = await response.json();
        showMessage(result.detail[0].msg, "warning")
    }
    
    document.getElementById("changePasswordForm").addEventListener("submit", updatePassword);
    </script>

