
    <form id="createEntityForm">

        <div class="row mb-3">
            <label class="col-md-4 col-lg-3 col-form-label required">Название</label>
            <div class="col-md-8 col-lg-9">
              <input class="form-control" type="text" id="entity_name_c" name="entity_name_c" required>
            </div>
        </div>

        <div class="row mb-3">
            <label class="col-md-4 col-lg-3 col-form-label required">Телефон</label>
            <div class="col-md-8 col-lg-9">
              <input class="form-control" type="text" id="entity_phone_c" name="entity_phone_c" required>
            </div>
        </div>

        <div class="row mb-3">
            <label class="col-md-4 col-lg-3 col-form-label">Адрес</label>
            <div class="col-md-8 col-lg-9">
              <input class="form-control" type="text" id="entity_address_c" name="entity_address_c">
            </div>
        </div>

        <div class="row mb-3">
            <label class="col-md-4 col-lg-3 col-form-label required">WhatsApp</label>
            <div class="col-md-8 col-lg-9">
              <input class="form-control" type="text" id="entity_whatsapp_c" name="entity_whatsapp_c">
            </div>
        </div>

        <div class="text-center">
            <button class="btn btn-sm btn-success px-4" type="submit">Создать</button>
        </div>

    </form>
    
<script>
    document.getElementById("createEntityForm").addEventListener("submit", async function(event) {
        event.preventDefault(); // Prevent form reload

        let phoneRegex = /^[0-9\(\)\-\+\s]+$/;

        let entityPhone = document.getElementById("entity_phone_c").value.trim();
        let entityWhatsApp = document.getElementById("entity_whatsapp_c").value.trim();

        if (!phoneRegex.test(entityPhone)) {
            showMessage("Неверный формат Телефона", "warning");
            return;
        }
    
        if (!phoneRegex.test(entityWhatsApp)) {
            showMessage("Неверный формат Номера Вотсап, введите только цифры", "warning");
            return;
        }

        let token = getAccessTokenFromCookie();

        let entityData = {
            entity_name: document.getElementById("entity_name_c").value,
            entity_phone: entityPhone,
            entity_whatsapp: entityWhatsApp,
            entity_address: document.getElementById("entity_address_c").value
        };

        let response = await fetch("/api/ent/", {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
                "Authorization": `Bearer ${token}`
            },
            body: JSON.stringify(entityData)
        });

        let result = await response.json();

        if (response.ok) {
            document.getElementById("createEntityForm").reset();
            showMessage("Профиль создан", "success");
            setTimeout(() => {
                window.location.reload(); }, 2000); 
            } else {
            let messages = result.detail[0].msg.replace("Value error, ", "")
            showMessage(messages, "warning");
        }
    });
</script>