<h2>Create Your Entity</h2>

    <form id="createEntityForm">
        <label class = "formm-label" for="entity_name_c">Entity Name:</label>
        <input class="form-control form-control-sm" type="text" id="entity_name_c" name="entity_name_c" required> <br>

        <label class = "form-label" for="entity_phone_c">Phone:</label>
        <input class="form-control form-control-sm" type="text" id="entity_phone_c" name="entity_phone_c" required>

        <label class = "form-label" for="entity_whatsapp_c">WhatsApp:</label>
        <input class="form-control form-control-sm" type="text" id="entity_whatsapp_c" name="entity_whatsapp_c"> <br>

        <label class = "form-label" for="entity_address_c">Address:</label>
        <input class="form-control form-control-sm" type="text" id="entity_address_c" name="entity_address_c">

        <button type="submit" class="btn btn-sm btn-outline-primary mt-3">Create Entity</button>
    </form>

    <p id="responseMessage"></p>
    
<script>
    document.getElementById("createEntityForm").addEventListener("submit", async function(event) {
        event.preventDefault(); // Prevent form reload

        let token = document.cookie.split('; ').find(row => row.startsWith('access_token='));
        if (token) {
            token = token.split('=')[1]; // Extract the token value
        } else {
            document.getElementById("responseMessage").innerText = "You must be logged in to create an entity.";
            return;
        }

        let entityData = {
            entity_name: document.getElementById("entity_name_c").value,
            entity_phone: document.getElementById("entity_phone_c").value,
            entity_whatsapp: document.getElementById("entity_whatsapp_c").value,
            entity_address: document.getElementById("entity_address_c").value
        };

        let response = await fetch("/api/ent/", {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
                "Authorization": `Bearer ${token}`
            },
            body: JSON.stringify(entityData)
        });

        let result = await response.json();

        if (response.ok) {
            document.getElementById("responseMessage").innerText = "Entity created successfully!";
            await loadUserInfo();
        } else {
            document.getElementById("responseMessage").innerText = result.detail || "Failed to create entity.";
        }
    });
</script>