
    <form id="createEntityForm">

        <div class="card shadow-sm border-0 rounded-3 mb-4">
            <div class="card-body p-2">
                <h4 class="mb-1 text-primary">Создать профиль</h4>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item d-flex justify-content-between align-items-center p-1">
                        <label class="form-label fw-semibold me-4">Название:</label>
                        <input class="form-control form-control-sm ms-auto" type="text" id="entity_name_c" name="entity_name_c" required>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center p-1">
                        <label class="form-label fw-semibold me-4">Телефон:</label>
                        <input class="form-control form-control-sm ms-auto" type="text" id="entity_phone_c" name="entity_phone_c" required>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center p-1">
                        <label class="form-label fw-semibold me-4">Адрес:</label>
                        <input class="form-control form-control-sm ms-auto" type="text" id="entity_address_c" name="entity_address_c">
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center p-1">
                        <label class="form-label fw-semibold me-4">WhatsApp:</label>
                        <input class="form-control form-control-sm ms-auto" type="text" id="entity_whatsapp_c" name="entity_whatsapp_c">
                    </li>
                </ul>
            </div>
        </div>

        <button type="submit" class="btn btn-sm btn-primary px-5">Создать</button>
    </form>
    
<script>
    document.getElementById("createEntityForm").addEventListener("submit", async function(event) {
        event.preventDefault(); // Prevent form reload

        let phoneRegex = /^[0-9\(\)\-\+\s]+$/;

        let entityPhone = document.getElementById("entity_phone_c").value.trim();
        let entityWhatsApp = document.getElementById("entity_whatsapp_c").value.trim();

        if (!phoneRegex.test(entityPhone)) {
            showMessage("Неверный формат Телефона", "warning");
            return;
        }
    
        if (!phoneRegex.test(entityWhatsApp)) {
            showMessage("Неверный формат Номера Вотсап, введите только цифры", "warning");
            return;
        }

        let token = getAccessTokenFromCookie();

        let entityData = {
            entity_name: document.getElementById("entity_name_c").value,
            entity_phone: entityPhone,
            entity_whatsapp: entityWhatsApp,
            entity_address: document.getElementById("entity_address_c").value
        };

        let response = await fetch("/api/ent/", {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
                "Authorization": `Bearer ${token}`
            },
            body: JSON.stringify(entityData)
        });

        let result = await response.json();

        if (response.ok) {
            document.getElementById("createEntityForm").reset();
            showMessage("Профиль создан", "success");
            setTimeout(() => {
                window.location.reload(); }, 2000); 
            } else {
            showMessage(`Ошибка при сохранении Профиля: ${result.detail}`, "warning")
        }
    });
</script>