
<form id="updateEntityForm">

    <div class="row mb-3">
        <label class="col-md-4 col-lg-3 col-form-label">Название</label>
        <div class="col-md-8 col-lg-9">
          <input class="form-control" type="text" id="entity_name" name="entity_name">
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-md-4 col-lg-3 col-form-label">Телефон</label>
        <div class="col-md-8 col-lg-9">
          <input class="form-control" type="text" id="entity_phone" name="entity_phone">
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-md-4 col-lg-3 col-form-label">Адрес</label>
        <div class="col-md-8 col-lg-9">
          <input class="form-control" type="text" id="entity_address" name="entity_address">
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-md-4 col-lg-3 col-form-label">WhatsApp</label>
        <div class="col-md-8 col-lg-9">
          <input class="form-control" type="text" id="entity_whatsapp" name="entity_whatsapp">
        </div>
    </div>

    <div class="text-center">
        <button type="submit" class="btn btn-sm btn-primary px-4">Обновить</button>
    </div>

</form>

<script>
    document.getElementById("updateEntityForm").addEventListener("submit", async function(event) {
        event.preventDefault();
        
        let phoneRegex = /^[0-9\(\)\-\+\s]+$/;

        let entityPhone = document.getElementById("entity_phone").value.trim();
        let entityWhatsApp = document.getElementById("entity_whatsapp").value.trim();


        if (entityPhone & !phoneRegex.test(entityPhone)) {
            showMessage("Неверный формат Телефона", "warning");
            return;
        }
    
        if (entityWhatsApp & !phoneRegex.test(entityWhatsApp)) {
            showMessage("Неверный формат Номера Вотсап, введите только цифры", "warning");
            return;
        }


        let token = document.cookie.split('; ').find(row => row.startsWith('access_token='));
        if (!token) {
            alert("You must be logged in to update entity details.");
            return;
        }
    
        token = token.split('=')[1].trim();
    
        let formData = {
            entity_name: document.getElementById("entity_name").value.trim(),
            entity_phone: entityPhone,
            entity_whatsapp: entityWhatsApp,
            entity_address: document.getElementById("entity_address").value.trim(),
        };
        
        let filteredData = {};
        for (let key in formData) {
            if (formData[key]) { // Only include non-empty values
                filteredData[key] = formData[key];
            }
        }

        if (Object.keys(filteredData).length === 0) {   return; }

        let response = await fetch("/api/ent/update", {
            method: "PUT",
            headers: {
                "Authorization": `Bearer ${token}`,
                "Content-Type": "application/json"
            },
            body: JSON.stringify(filteredData)
        });
    
        let result = await response.json();

        if (result.message == "Entity updated successfully") { 
            document.getElementById("updateEntityForm").reset();
            showMessage("Профиль обновлен", "success")
            setTimeout(() => {
                window.location.reload();
            }, 2000); }
            else if (result.detail[0].type == "value_error") {
                showMessage("Номера указаны не верно", "warning")
            }
    });
    </script>