
<form id="updateEmailForm">

    <div class="row mb-3">
        <label for="new_email" class="col-md-4 col-lg-3 col-form-label">Новая эл. почта</label>
        <div class="col-md-8 col-lg-9">
          <input name="new_email" type="email" class="form-control" id="new_email" required>
        </div>
    </div>

    <div class="row mb-3">
        <label for="password" class="col-md-4 col-lg-3 col-form-label">Пароль</label>
        <div class="col-md-8 col-lg-9">
          <input name="password" type="password" class="form-control" id="password" required>
        </div>
    </div>

    <div class="text-center">
    <button type="submit" class="btn btn-sm btn-primary px-4">Изменить</button>
    </div>
</form>

<script>
    
    async function updateEmail(event) {
        event.preventDefault();
        let token = document.cookie.split('; ').find(row => row.startsWith('access_token='));
        if (!token) {
            alert("You must be logged in.");
            return;
        }
        token = token.split('=')[1].trim();
    
        let data = {
            new_email: document.getElementById("new_email").value.trim(),
            password: document.getElementById("password").value.trim()
        };
    
        let response = await fetch("/api/auth/update-email", {
            method: "PUT",
            headers: { "Authorization": `Bearer ${token}`, "Content-Type": "application/json" },
            body: JSON.stringify(data)
        });
    
        let result = await response.json();
        alert(result.message);
    }

    document.getElementById("updateEmailForm").addEventListener("submit", updateEmail);
    </script>