{% extends "base.html" %}

{% block content %}

<div class="pagetitle">
  <h1>Профиль</h1>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Главная</a></li>
      <li class="breadcrumb-item">Профиль</li>
    </ol>
  </nav>
</div>

<section class="section profile-info">
    <div class="row">
      <div class="col-xl-4">

        <div class="card mb-3">
          <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
            <h4> <small class="fs-6"> Имя </small> {{current_user.username}} </h4>
            <h5>  <small class="fs-6"> Статус </small> {{current_user.role.value}}</h5>
            <h6>{{current_user.email}}</h5>
          </div>
        </div>

        <div class="card mb-3">
            <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
                <p> Профиль <small>(Видимый для всех)</small> </p>
              <div class="card shadow-sm border-0 rounded-3 w-100 mb-4">
                <div class="profile_info"></div>
                    <div class="card-body p-2 profile_card">
                        <div class="profile_card_body">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item d-flex justify-content-between align-items-center p-1">
                                    <span class="">Название:</span>
                                    <span id="entityName" class="text-muted">Loading...</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center p-1">
                                    <span class="">Телефон:</span>
                                    <span id="entityPhone" class="text-muted">Loading...</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center p-1">
                                    <span class="">Адрес:</span>
                                    <span id="entityAddress" class="text-muted">Loading...</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center p-1">
                                    <span class="">Вотсап:</span>
                                    <span id="entityWhatsApp" class="text-muted">Loading...</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

      </div>

      <div class="col-xl-8">
        <div class="card">
          <div class="card-body pt-3">

            <ul class="nav nav-tabs nav-tabs-bordered">
                
              <li class="nav-item">
                <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-chats"><i class="bi bi-chat-square-text-fill"></i>
                  <span class="tooltip-text">Сообщения</span> </button>
              </li>

              <li class="nav-item">
                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-products"> <i class="bi bi-box-seam-fill"></i> 
                  <span class="tooltip-text">Объявления</span> </button>
                </li>

              <li class="nav-item">
                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-movies"> <i class="bi bi-collection-play-fill"></i> 
                  <span class="tooltip-text">Мои Видео</span> </button>
              </li>
            
              <li class="nav-item">
                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-fav-products"><i class="bi bi-bookmarks-fill"></i>
                  <span class="tooltip-text">Сохранненные</span> </button>
              </li>

              <li class="nav-item">
                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-create-product"><i class="bi bi-box-fill"></i>
                  <span class="tooltip-text">Создать </span> </button>
              </li>

              {% if current_user.role == "ADMIN" or current_user.role == "CREATOR" %}
                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-upload-video"><i class="bi bi-camera-reels-fill"></i>
                    <span class="tooltip-text"> Загрузить </span>
                  </button>
                </li>
              {% endif %}


            </ul>

            <div class="tab-content pt-2">
                
                <div class="tab-pane fade show active profile-edit pt-3" id="profile-chats">
                    <h5>Сообщения</h5>
                    <ul class="list-group" id="chatRoomsList"></ul>
              </div>

                <div class="tab-pane fade pt-3" id="profile-products">    
                    <h5>Мои объявления</h5>
                    {% include "product_forms/mylist.html" %}
                  </div>

              <div class="tab-pane fade profile-edit pt-3" id="profile-movies">
                    {% if current_user.role in ["ADMIN", "CREATOR"] %}
                        <h5>Мои фильмы</h5>    
                        {% include "movie_forms/mylist.html" %}
                    {% endif %}
                    <hr>
                    <h5>Купленные фильмы</h5>
                    {% include "movie_forms/order_list.html" %}
              </div>

              <div class="tab-pane fade pt-3" id="profile-fav-products">
                <h5>Мои сохраненные объявления</h5>
                {% include "product_forms/myfavs.html" %}
              </div>

              <div class="tab-pane fade pt-3" id="profile-create-product">
                <h5>Создать объявление</h5>
                {% include "product_forms/create_form.html" %}
              </div>

              
                {% if current_user.role.value == "ADMIN" or current_user.role.value == "CREATOR" %}
                    <div class="tab-pane fade pt-3" id="profile-upload-video">
                    <h5>Загрузить видео</h5>
                    {% include "movie_forms/upload_form.html" %}
                {% endif %}

              </div>
            </div>
        </div>
      </div>
      
      <div class="col mt-3">
        <h5>Настройки</h5>
        <div class="card mt-3">
            <div class="card-body pt-3">
  
              <ul class="nav nav-tabs nav-tabs-bordered">
                
                <li class="nav-item">
                  <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#settings-clear"> <i class="bi bi-chevron-bar-up"></i></button>
                </li>

                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">
                    <i class="bi bi-pencil-square"></i> <span class="tooltip-text">Обновить профиль</span> </button>
                </li>
  
                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-create"> <i class="bi bi-person-vcard"></i>
                    <span class="tooltip-text">Создать профиль</span> </button>
                </li>
              
                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-change-username"> <i class="bi bi-person"></i>
                    <span class="tooltip-text">Изменить имя</span> </button>
                </li>
  
                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-change-email"><i class="bi bi-envelope-at"></i>
                    <span class="tooltip-text">Изменить почту</span> </button>
                </li>
  
                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-change-password"><i class="bi bi-lock"></i>
                    <span class="tooltip-text">Изменить пароль</span>
                  </button>
                </li>
  
                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-settings"> <i class="bi bi-gear"></i>
                    <span class="tooltip-text">Удалить</span> </button>
                </li>
  
              </ul>
  
              <div class="tab-content pt-2">
                
                <div class="tab-pane fade show profile-edit pt-3" id="settings-clear">
                </div>

                <div class="tab-pane fade profile-edit pt-3" id="profile-edit">
                  <h5> Обновить данные профиля </h5>
                  {% include "entity_forms/update_entity.html" %}
                </div>
  
                <div class="tab-pane fade profile-edit pt-3" id="profile-create">
                  <h5> Создать профиль </h5>
                  {% include "entity_forms/create_entity.html" %}
                </div>
  
                <div class="tab-pane fade pt-3" id="profile-settings">    
                    
                    <div class="row mb-3">
                        <label class="col-8 col-lg-3 col-form-label">Удалить Аккаунт</label>
                        <div class="col-2 col-lg-9">
                            <button id="deactivateButton" class="btn btn-sm btn-outline-danger mb-1" ><i class="bi bi-trash3"></i> </button>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label class="col-8 col-lg-3 col-form-label">Удалит Профиль</label>
                        <div class="col-2 col-lg-9">
                            <button id="deleteEntityBtn" class="btn btn-sm btn-outline-danger mb-1" ><i class="bi bi-trash3"></i> </button>
                        </div>
                    </div>
  
                </div>
                <div class="tab-pane fade pt-3" id="profile-change-username">
                  <h5> Изменить имя профиля </h5>
                  {% include "entity_forms/update_username.html" %}
                </div>
  
                <div class="tab-pane fade pt-3" id="profile-change-email">
  
                  <h5> Обновить эл. почту </h5>
                  {% include "entity_forms/update_email.html" %}
  
                </div>
  
                <div class="tab-pane fade pt-3" id="profile-change-password">
  
                  <h5> Изменить пароль </h5>
                  {% include "entity_forms/change_pass.html" %}
                </div>
  
              </div>
  
            </div>
          </div>

        </div>
      </div>

    </div>

    {% if current_user.role.value == "ADMIN" %}
      <div class="col my-3">
        <h5>Управление</h5>
          <div class="card">
            <div class="card-body pt-3">
  
              <ul class="nav nav-tabs nav-tabs-bordered">
                
                <li class="nav-item">
                  <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-clear"> <i class="bi bi-chevron-bar-up"></i></button>
                </li>

                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-user-management"> <i class="bi bi-people"></i> </button>
                </li>
  
              </ul>
  
              <div class="tab-content pt-2">
                
                <div class="tab-pane fade profile-edit pt-3" id="profile-clear">
                </div>

                <div class="tab-pane fade profile-edit pt-3" id="profile-user-management">
                  <h5> Пользователи </h5>
                  {% include "entity_forms/users.html" %}
                </div>
  
              </div>
  
            </div>
          </div>
      </div>
    {% endif %}

  </section>

<div class="container">

{% include "components/modal.html" %}

<script>
    let EntityID;

    async function loadUserInfo(user_id) {
        try {
            let response = await fetch(`/api/ent/${user_id}`, { method: "GET" });
    
            if (!response.ok) {
                let errorData = await response.json();
                console.log("No entity for this user");
                document.getElementsByClassName("profile_card_body")[0].style.display = "none";
                document.getElementsByClassName("my_profile_title")[0].innerHTML = `<a href="#createEntityForm"> Создать профиль видимый для всех</a> `
                profile_card

                return;
            } else {

            let entity = await response.json();
    
            document.getElementById("entityName").innerText = entity.entity_name;
            document.getElementById("entityPhone").innerText = entity.entity_phone;
            document.getElementById("entityAddress").innerText = entity.entity_address;
            document.getElementById("entityWhatsApp").innerText = entity.entity_whatsapp;
    
            EntityID = entity.id;
            }
    
        } catch (error) {
            console.error("Fetch error:", error);
            document.getElementById("userInfo").innerText = "Network error.";
        }
    }

    document.addEventListener("DOMContentLoaded", function () {
        loadUserInfo({{ current_user.id }});
    });
    

    document.addEventListener("DOMContentLoaded", async function() {
        let token = getAccessTokenFromCookie()
        loadChatRooms(token)
    });
    
        
    async function loadChatRooms(token) {
        try {
            const response = await fetch(`/chat/rooms/`, {
                method: "GET",
                headers: {
                    "Authorization": `Bearer ${token}`,
                    "Content-Type": "application/json"
                }
            });
    
            if (!response.ok) {
                throw new Error("Failed to fetch chat rooms");
            }
    
            const chatRooms = await response.json();
            const chatRoomsList = document.getElementById("chatRoomsList");
    
            // Clear previous chat list to prevent duplication
            chatRoomsList.innerHTML = "";
    
            if (chatRooms.length === 0) {
                chatRoomsList.innerHTML = "<li class='list-group-item'>No chat rooms found</li>";
                return;
            }

            chatRooms.forEach(room => {
                const listItem = document.createElement("li");
                listItem.classList.add("my_list_group");
                listItem.innerHTML = `
                    <a href="/messages?room_id=${room.chat_room_id}" class="">
                    
                        От ${room.other_username}  <small class="text text-secondary">(${room.subject.substring(0, 20)})</small>
                        <span class="my_badge_unread"> 
                        ${room.has_unread_messages ? `<i class="bi bi-envelope-arrow-down text-danger"></i>`: `<i class="bi bi-check2-circle text-success"></i>`} </span>
                    </a>
                    <button class="btn btn-outline-danger btn-sm float-end" onclick="deleteChatRoom(${room.chat_room_id})">
                        <i class="bi bi-trash3"></i> 
                </button>
                `;

                chatRoomsList.appendChild(listItem);
            });
        } catch (error) {
            console.error("Error loading chat rooms:", error);
        }
    }
    
    async function deleteChatRoom(chatRoomId) {
        showConfirmationModal("Подтвердите удаление чат", async () => { 
            let token = getAccessTokenFromCookie();
            try {
                const response = await fetch(`/chat/rooms/${chatRoomId}`, {
                    method: "DELETE",
                    headers: {
                        "Authorization": `Bearer ${token}`,
                        "Content-Type": "application/json"
                    }
                });
        
                if (!response.ok) {
                    console.log(`Error: ${response.status}`);
                } else {
                    showMessage("Чат был удален!", "success")
                    loadChatRooms(token); // Reload chat rooms after deletion
                }
                

            } catch (error) {
                console.error("Failed to delete chat room:", error);
                alert("Error deleting chat room. Please try again.");
            }
        });
    }

    document.addEventListener("DOMContentLoaded", function() {
        const deleteBtn = document.getElementById("deleteEntityBtn");
        if (deleteBtn && !deleteBtn.hasAttribute("listener")) { // Prevent duplicate listeners
            deleteBtn.setAttribute("listener", "true"); // Mark as already added
            deleteBtn.addEventListener("click", async function(event) {
                event.preventDefault();
                // const confirmed = confirm("Подтвердите удаление.");
                // if (!confirmed) return;
                
                showConfirmationModal("Подтвердите удаление", async () => { 
                
                    try {
                        let token = getAccessTokenFromCookie();
                        const response = await fetch(`/api/ent/${EntityID}`, {
                            method: "DELETE",
                            headers: {
                                "Authorization": `Bearer ${token}`,
                                "Content-Type": "application/json"
                            }
                        });
        
                        if (response.ok) {
                            showMessage("Профиль удален!", "success")
                            setTimeout(() => {
                                window.location.reload(); }, 2000); 
                        } else {
                            const errorData = await response.json();
                            showMessage(`Ошибка при удалении: ${errorData.detail}`, "warning")
                        }
                        } catch (error) {
                            console.error("Delete error:", error);
                            showMessage(`Ошибка при удалении, попробуйте позже`, "warning")
                        }
                });

                
            });
        }
    });

    document.getElementById("deactivateButton").addEventListener("click", async function() {
        let token = getAccessTokenFromCookie();
        if (!token) {
            alert("Вы не вошли в систему!");
            return;
        }

        showConfirmationModal("Подтвердите удаление", async () => {  
        
            let response = await fetch("/api/auth/deactivate", {
                method: "POST",
                headers: { "Authorization": `Bearer ${token}` }
            });

            if (response.ok) {
                alert("Your account has been deactivated and will be deleted in 30 days.");
                document.cookie = "access_token=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
                window.location.href = "/login"; // Redirect to login or homepage
            } else {
                let error = await response.json();
                alert("Error: " + error.detail);
            }
        });
    });

</script>

<br>


</div>
{% endblock %}