{% extends "base.html" %}

{% block content %}


<div class="row justify-content-center">
    <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

      <!-- End Logo  <a href="index.html" class="logo d-flex align-items-center w-auto">-->

      
      <div class="py-4 logo d-flex align-items-center justify-content-center">
          <img src="{{ url_for('static', path='/icons/logo.png') }}" alt="iMarket logo">
          <span class="d-none d-lg-block">iMarket</span>
      </div>
      <h1>  </h1>
      <div class="card mb-3">

        <div class="card-body">

          <div class="pt-4 pb-2">
            <h5 class="card-title text-center pb-0 fs-4">{{status}}</h5>
          </div>

        <div class="row p-4">
            <a class="btn btn-sm btn-primary px-2 my-2" href="{{ url_for('login_page') }}">Войти</a>
        </div>

        </div>
      </div>

    </div>
  </div>

{% endblock %}
