{% extends "base.html" %}

{% block content %}


{% if current_user.role != "ADMIN" %}
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            window.location.href = "/"
        });
    </script>
{% else %}

<div class="pagetitle">
    <h1>Admin</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Главная</a></li>
        <li class="breadcrumb-item">Админ</li>
      </ol>
    </nav>
  </div>

    <h1> {{ current_user.role.value }} </h1>


    {% include "entity_forms/users.html" %}
    <h2>Product search</h2>
    {% include "product_forms/search_form.html"%}

{% endif %}

<script>
    function createImageCarousel(productId, imageUrls) {
        let indicators = "";
        let slides = "";
    
        imageUrls.forEach((imgUrl, index) => {
            const activeClass = index === 0 ? "active" : "";
            indicators += `
                <button type="button" data-bs-target="#carousel_${productId}" data-bs-slide-to="${index}" class="${activeClass}" aria-label="Slide ${index + 1}"></button>
            `;
            slides += `
                <div class="carousel-item ${activeClass}">
                    <img src="/${imgUrl}" class="d-block w-100 rounded" alt="Product Image">
                </div>
            `;
        });
    
        return `
            <div id="carousel_${productId}" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">${indicators}</div>
                <div class="carousel-inner">${slides}</div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carousel_${productId}" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carousel_${productId}" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        `;
    }
</script>

{% endblock %}