{% extends "base.html" %}

{% block content %}


<p id="loginError"></p>

<div class="row justify-content-center">
    <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

      <!-- End Logo  <a href="index.html" class="logo d-flex align-items-center w-auto">-->

      <div class="py-4 logo d-flex align-items-center justify-content-center">
          <img src="{{ url_for('static', path='/icons/logo.png') }}" alt="iMarket logo">
          <span class="d-none d-lg-block">iMarket</span>
      </div>

      <div class="card mb-3">

        <div class="card-body">

          <div class="pt-4 pb-2">
            <h5 class="card-title text-center pb-0 fs-4">Войти в аккаунт</h5>
            <p class="text-center small">Введите ваш имейл и пароль</p>
          </div>

          <form id="loginForm" class="row g-3 needs-validation" novalidate>
        
            <div class="col-12">
              <label for="email" class="form-label">Эл. почта</label>
              <div class="input-group has-validation">
                <input type="email" name="email" class="form-control" id="email" required>
              </div>
            </div>

            <div class="col-12">
              <label for="password" class="form-label">Пароль</label>
              <input type="password" name="password" class="form-control" id="password" required>
            </div>

            <div class="col-12">
              <button class="btn btn-primary w-100" type="submit">Login</button>
            </div>
            
            <div class="col-12">
              <p class="small m-0"><a class="btn btn-sm btn-outline-primary p-0 px-2 my-2" href="{{ url_for('register_page') }}">Создать аккаунт</a></p>
              <p class="small m-0"><a class="btn btn-sm btn-outline-success p-0 px-2" href="{{ url_for('register_page') }}">Восстановить Пароль</a></p>
            </div> 

          </form>

        </div>
      </div>

    </div>
  </div>

<script>
    document.getElementById("loginForm").addEventListener("submit", async function(event) {
        event.preventDefault(); // Prevent default form submission
    
        let email = document.getElementById("email").value;
        let password = document.getElementById("password").value;
    
        let response = await fetch("/api/auth/token", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify({
                "email": email,
                "password": password
            })
        });
        
        let data = await response.json();
        if (response.ok) {
            document.cookie = `access_token=${data.access_token}; path=/`; // Store token
            document.cookie = `refresh_token=${data.refresh_token}; path=/`;
            window.location.href = "/about"; // Redirect on success
        } else {
            console.log(data)
            console.log(data.detail)
            showMessage(data.detail, 'danger')
        }
    });
</script>

{% endblock %}
