{% extends "base.html" %}

{% block content %}


<p id="loginError"></p>

<div class="row justify-content-center p-4">
    <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

      <!-- End Logo  <a href="index.html" class="logo d-flex align-items-center w-auto">-->

      <div class="py-4 logo d-flex align-items-center justify-content-center">
          <img src="{{ url_for('static', path='/icons/logo.png') }}" alt="Aiber logo">
          <span class="">Aiber</span>
      </div>

      <div class="card mb-3">

        <div class="card-body">

          <div class="pt-4 pb-2">
            <h5 class="card-title text-center pb-0 fs-4">Войти в аккаунт</h5>
            <p class="text-center small">Введите ваш имейл и пароль</p>
          </div>

          <form id="loginForm" class="row g-3 needs-validation">
            
            <div class="form__group field">
              <input type="email" class="form__field" placeholder="" name="email" id="email" required />
              <label for="name" class="form__label">Эл. почта</label>
            </div>

            <div class="form__group field">
              <input type="password" class="form__field" placeholder="" name="password" id='password' required />
              <label for="name" class="form__label">Пароль</label>
            </div>

            <div class="col-12">
              <button class="btn btn-primary w-100" type="submit">Войти</button>
            </div>
            
            <div class="col-12 text-end">
              <p class="small my-2"><a class="p-0 px-2" href="{{ url_for('register_page') }}">Создать аккаунт</a></p>
              <p class="small my-1"><a class="p-0 px-2" href="{{ url_for('pass_request_page') }}">Восстановить Пароль</a></p>
            </div> 

          </form>

        </div>
      </div>

    </div>
  </div>

<script>
    document.getElementById("loginForm").addEventListener("submit", async function(event) {
        event.preventDefault(); // Prevent default form submission
    
        let email = document.getElementById("email").value;
        let password = document.getElementById("password").value;
    
        let response = await fetch("/api/auth/token", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify({
                "email": email,
                "password": password
            })
        });
        
        let data = await response.json();
        if (response.ok) {
            document.cookie = `access_token=${data.access_token}; path=/`; // Store token
            document.cookie = `refresh_token=${data.refresh_token}; path=/`;
            window.location.href = "/"; // Redirect on success
        } else {
            console.log(data.detail)
            showMessage("Неверные данные", 'warning')
        }
    });
</script>

<script>
  document.addEventListener("DOMContentLoaded", function () {
      const form = document.getElementById("loginForm");
      const emailInput = document.getElementById("email");
      const passwordInput = document.getElementById("password");
  
      emailInput.addEventListener("input", function () {
          if (emailInput.validity.typeMismatch) {
              emailInput.setCustomValidity("Пожалуйста, введите корректный адрес электронной почты.");
          } else {
              emailInput.setCustomValidity("");
          }
      });
  
      passwordInput.addEventListener("input", function () {
          if (passwordInput.validity.valueMissing) {
              passwordInput.setCustomValidity("Пароль обязателен для заполнения.");
          } else {
              passwordInput.setCustomValidity("");
          }
      });
  
      form.addEventListener("submit", function (event) {
          if (!form.checkValidity()) {
              event.preventDefault();
          }
          form.classList.add("was-validated");
      });
  });
  </script>

  
{% endblock %}
