{% extends "base.html" %}

{% block content %}

<div class="row justify-content-center p-4">
    <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

      <div class="py-4 logo d-flex align-items-center justify-content-center">
          <img src="{{ url_for('static', path='/icons/logo.png') }}" alt="Aiber logo">
          <span class="">Aiber</span>
      </div>

      <div class="card mb-3">

        <div class="card-body">

          <div class="pt-4 pb-2">
            <h5 class="card-title text-center pb-0 fs-4">Регистрация аккаунта</h5>
            <p class="text-center small">Введите ваш имя пользователя, имейл и пароль</p>
          </div>

          <form id="registerForm" class="row g-3 needs-validation" novalidate>
            
            <div class="form__group field">
              <input type="input" class="form__field" placeholder="" name="username" id="username" required />
              <label for="name" class="form__label">Имя пользователя</label>
            </div>

            <div class="form__group field">
              <input type="email" class="form__field" placeholder="" name="email" id="email" required />
              <label for="name" class="form__label">Эл. почта</label>
            </div>

            <div class="form__group field">
              <input type="password" class="form__field" placeholder="" name="password" id='password' required />
              <label for="name" class="form__label">Пароль</label>
            </div>

            <div class="col-12">
              <button class="btn btn-primary w-100" type="submit">Регистрация</button>
            </div>
            
            <div class="col-12 text-end">
                <p class="small py-3"> Есть аккаунт? <a href="{{ url_for('login_page') }}">Войти</a></p>
            </div> 

          </form>

        </div>
      </div>

    </div>
  </div>


<script>
    document.getElementById("registerForm").addEventListener("submit", async function(event) {
        event.preventDefault();

        let formData = {
            username: document.getElementById("username").value,
            email: document.getElementById("email").value,
            password: document.getElementById("password").value
        };

        let response = await fetch("/api/auth/register", {
            method: "POST",
            headers: { "Content-Type": "application/json" },
            body: JSON.stringify(formData)
        });

        let result = await response.json();
        console.log(result.detail[0].type)
        if (response.ok) {
            document.getElementById("registerForm").reset();
            showMessage("Вы зарегистрированы! Проверьте почту, чтоб активировать!", "success")

        } else {
            showMessage("Не верные данные", "warning")
        }

    });
</script>

{% endblock%}