{% extends "base.html" %}

{% block content %}

<div class="pagetitle">
    <h1>Профиль</h1>
  </div>

  <section class="section profile">
    <div class="row">
      <div class="col-xl-4">

        <div class="card mb-3">
          <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
            <h4> Имя (Ник): {{current_user.username}} </h4>
            <h5>Статус: {{current_user.role.value}}</h5>
            <h6>{{current_user.email}}</h5>
          </div>

          <button id="deactivateButton" class="btn btn-sm btn-outline-secondary mb-1" ><i class="bi bi-trash3"></i></button>
        </div>

        

        <div class="card mb-3">
            <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
                <p> Профиль <small>(Видимый для всех)</small> </p>
              <div class="card shadow-sm border-0 rounded-3 w-100 mb-4">
                <div class="profile_note"></div>
                    <div class="card-body p-2 profile_card">
                        <div class="profile_card_body">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item d-flex justify-content-between align-items-center p-1">
                                    <span class="">Название:</span>
                                    <span id="entityName" class="text-muted">Loading...</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center p-1">
                                    <span class="">Телефон:</span>
                                    <span id="entityPhone" class="text-muted">Loading...</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center p-1">
                                    <span class="">Адрес:</span>
                                    <span id="entityAddress" class="text-muted">Loading...</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center p-1">
                                    <span class="">Востап:</span>
                                    <span id="entityWhatsApp" class="text-muted">Loading...</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <button id="deleteEntityBtn" class="btn btn-sm btn-outline-secondary mb-1" ><i class="bi bi-trash3"></i></button>

        </div>

        

      </div>

      <div class="col-xl-8">

        <div class="card">
          <div class="card-body pt-3">
            <!-- Bordered Tabs -->
            <ul class="nav nav-tabs nav-tabs-bordered">

              <li class="nav-item">
                <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-edit"><i class="bi bi-pencil-square"></i></button>
              </li>

              <li class="nav-item">
                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-create"> <i class="bi bi-sun"></i></button>
              </li>
            
              <li class="nav-item">
                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-change-username"> <i class="bi bi-person"></i></button>
              </li>

              <li class="nav-item">
                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-change-email"><i class="bi bi-envelope-at"></i></button>
              </li>

              <li class="nav-item">
                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-change-password"><i class="bi bi-lock"></i></button>
              </li>

              <li class="nav-item">
                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-settings"> <i class="bi bi-gear"></i></button>
              </li>



            </ul>
            <div class="tab-content pt-2">

              <div class="tab-pane fade show active profile-edit pt-3" id="profile-edit">
                <h5> Обновить данные профиля </h5>
                {% include "entity_forms/update_entity.html" %}
              </div>

              <div class="tab-pane fade profile-edit pt-3" id="profile-create">
                <h5> Создать профиля </h5>
                {% include "entity_forms/create_entity.html" %}
              </div>

              <div class="tab-pane fade pt-3" id="profile-settings">    
                
                <form>
                  <div class="row mb-3">
                    <label for="fullName" class="col-md-4 col-lg-3 col-form-label">Email Notifications</label>
                    <div class="col-md-8 col-lg-9">
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="changesMade" checked>
                        <label class="form-check-label" for="changesMade">
                          Changes made to your account
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="newProducts" checked>
                        <label class="form-check-label" for="newProducts">
                          Information on new products and services
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="proOffers">
                        <label class="form-check-label" for="proOffers">
                          Marketing and promo offers
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="securityNotify" checked disabled>
                        <label class="form-check-label" for="securityNotify">
                          Security alerts
                        </label>
                      </div>
                    </div>
                  </div>

                  <div class="text-center">
                    <button type="submit" class="btn btn-primary">Save Changes</button>
                  </div>
                </form>


              </div>
              <div class="tab-pane fade pt-3" id="profile-change-username">
                <h5> Изменить имя профиля </h5>
                {% include "entity_forms/update_username.html" %}
              </div>

              <div class="tab-pane fade pt-3" id="profile-change-email">

                <h5> Обновить эл. почту </h5>
                {% include "entity_forms/update_email.html" %}

              </div>

              <div class="tab-pane fade pt-3" id="profile-change-password">

                <h5> Изменить пароль </h5>
                {% include "entity_forms/change_pass.html" %}
              </div>

            </div><!-- End Bordered Tabs -->

          </div>
        </div>

      </div>
    </div>
  </section>

  <div class="modal fade" id="confirmationModal" tabindex="-1" aria-labelledby="confirmationModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="confirmationModalLabel">Подтверждение</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" id="confirmationModalBody">
          Вы уверены, что хотите выполнить это действие?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-sm btn-outline-success" data-bs-dismiss="modal"><i class="bi bi-box-arrow-up-left me-1"></i> Отмена</button>
          <button type="button" class="btn btn-sm btn-outline-danger" id="confirmActionBtn"><i class="bi bi-check-all me-1"></i>Подтвердить</button>
        </div>
      </div>
    </div>
  </div>

<script>

    document.addEventListener("DOMContentLoaded", function () {
        let token = getAccessTokenFromCookie();
        loadUserInfo({{ current_user.id }});
    });

    function showConfirmationModal(message, onConfirm) {
        // showConfirmationModal("Ваш текст", () => { });
        const modal = new bootstrap.Modal(document.getElementById("confirmationModal"));
        document.getElementById("confirmationModalBody").innerText = message;
    
        document.getElementById("confirmActionBtn").onclick = function () {
            modal.hide();
            onConfirm(); // Execute callback function
        };

        modal.show();
    }

    async function loadUserInfo(user_id) {
        try {
            let response = await fetch(`/api/ent/${user_id}`, { method: "GET" });
    
            if (!response.ok) {
                let errorData = await response.json();
                console.log("No entity for this user");
                document.getElementsByClassName("profile_card_body")[0].style.display = "none";
                document.getElementsByClassName("my_profile_title")[0].innerHTML = `<a href="#createEntityForm"> Создать профиль видимый для всех</a> `
                profile_card

                return;
            } else {

            let entity = await response.json();
    
            document.getElementById("entityName").innerText = entity.entity_name;
            document.getElementById("entityPhone").innerText = entity.entity_phone;
            document.getElementById("entityAddress").innerText = entity.entity_address;
            document.getElementById("entityWhatsApp").innerText = entity.entity_whatsapp;
    
            EntityID = entity.id;
            }
    
        } catch (error) {
            console.error("Fetch error:", error);
            document.getElementById("userInfo").innerText = "Network error.";
        }
    }


</script>

<script>

    document.addEventListener("DOMContentLoaded", function() {
        const deleteBtn = document.getElementById("deleteEntityBtn");
        if (deleteBtn && !deleteBtn.hasAttribute("listener")) { // Prevent duplicate listeners
            deleteBtn.setAttribute("listener", "true"); // Mark as already added
            deleteBtn.addEventListener("click", async function(event) {
                event.preventDefault();
                // const confirmed = confirm("Подтвердите удаление.");
                // if (!confirmed) return;
                
                showConfirmationModal("Подтвердите удаление", async () => { 
                
                    try {
                        let token = getAccessTokenFromCookie();
                        const response = await fetch(`/api/ent/${EntityID}`, {
                            method: "DELETE",
                            headers: {
                                "Authorization": `Bearer ${token}`,
                                "Content-Type": "application/json"
                            }
                        });
        
                        if (response.ok) {
                            showMessage("Профиль удален!", "success")
                            setTimeout(() => {
                                window.location.reload(); }, 2000); 
                        } else {
                            const errorData = await response.json();
                            showMessage(`Ошибка при удалении: ${errorData.detail}`, "warning")
                        }
                        } catch (error) {
                            console.error("Delete error:", error);
                            showMessage(`Ошибка при удалении, попробуйте позже`, "warning")
                        }
                });

                
            });
        }
    });

    document.getElementById("deactivateButton").addEventListener("click", async function() {
        let token = getAccessTokenFromCookie();
        if (!token) {
            alert("Вы не вошли в систему!");
            return;
        }

        showConfirmationModal("Подтвердите удаление", async () => {  
        
            let response = await fetch("/api/auth/deactivate", {
                method: "POST",
                headers: { "Authorization": `Bearer ${token}` }
            });

            if (response.ok) {
                alert("Your account has been deactivated and will be deleted in 30 days.");
                document.cookie = "access_token=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
                window.location.href = "/login"; // Redirect to login or homepage
            } else {
                let error = await response.json();
                alert("Error: " + error.detail);
            }
        });
    });
</script>

{% endblock %}