
<h2>My Movies</h2>
    
    
    <div id="movies-list" class=""></div>

    <script>

        async function fetchMyMovies() {
            const token = getAccessTokenFromCookie();

            if (!token) {                
                return;
            }

            try {
                const response = await fetch("api/movies/my", {
                    method: "GET",
                    headers: { "Authorization": `Bearer ${token}` }
                });

                if (!response.ok) {
                    throw new Error(await response.text());
                }

                const movies = await response.json();
                displayListMovies(movies);
            } catch (error) {
                console.log(error)
                document.getElementById("movies-list").innerHTML = `
                <div class="card p-3 mb-3">
                <div class="d-flex align-items-center justify-content-between">
                        <div>
                            <h6 class="mb-1">У вас нет загруженных фильмов</h6>
                        </div>
                    </div>
                </div>
                `
            } 
        }

        function displayListMovies(movies) {
            const moviesList = document.getElementById("movies-list");
            moviesList.innerHTML = ""; // Clear existing list
        
            if (movies.length === 0) {
                moviesList.textContent = "No movies found.";
                return;
                }

            movies.forEach(movie => {
                const movieCard = document.createElement("div");
                movieCard.classList.add("card", "shadow-sm", "mb-1", "p-1", "border-0");
        
                movieCard.innerHTML = `
                    <div class="row btn-group d-flex justify-content-between">
                        <div class="col-md-5 d-flex align-items-center justify-content-between">
                            <div>
                                <h2 class="fs-5 m-0">${movie.title}</h2>
                                <small class="text-muted m-0"> Создан: ${formatTimestamp(movie.created_at)} </small>
                            </div>
                            <span class="badge bg-success px-3 ms-3">${movie.price} сом</span>
                        </div>
                        <div class="col-md-5 d-flex justify-content-end">
                        <a class="btn btn-outline-success m-1" href="/movies/stream?id=${movie.id}"><i class="bi bi-play-btn fs-5"></i></a>
                        <a class="btn btn-outline-primary m-1" href="/movies/update?id=${movie.id}"><i class="bi bi-pencil-square fs-5"></i></a>
                        <button class="btn btn-outline-danger m-1" onclick="Delete_movie_btn(${movie.id})"><i class="bi bi-file-x fs-5"></i></button>
                        </div>
                    </div>
                `;
        
                moviesList.appendChild(movieCard);
            });
        }
        

        async function Delete_movie_btn(movieId, button) {
            if (!confirm("Вы уверены, что хотите удалить этот фильм?")) {
                return;
            }
        
            const token = getAccessTokenFromCookie(); // Get auth token
            if (!token) {
                showMessage("Вы не авторизованы", "warning")
                return;
            }
        
            try {
                const response = await fetch(`api/movies/${movieId}`, {
                    method: "DELETE",
                    headers: { "Authorization": `Bearer ${token}` }
                });
        
                if (!response.ok) {
                    throw new Error(await response.text());
                }
        
                showMessage("Фильм удален", "success")
                setTimeout(() => {
                    window.location.reload();
                }, 2000);
                
            } catch (error) {
                console.log("error in deletion:", error.message)
                showMessage("Ошибка при удалении фильма", "warning")
            }
        }

        document.addEventListener("DOMContentLoaded", fetchMyMovies);
    </script>